[2017-03-06 14:27] svenax opened #1 "Error when running Nordic EPUB3 Validator"
Running `dp2 nordic-epub3-validate` gives the error below. Same result when using the GUI.

    Duplicate step type: letex:unzip

[2017-03-06 14:44] josteinaj commented on #1
Hi @svenax. Thanks for the report.

Are you building this project ([nlbdev/pipeline](https://github.com/nlbdev/pipeline/)), or are you using the latest release of [nlbdev/nordic-epub3-dtbook-migrator](http://nlbdev.github.io/nordic-epub3-dtbook-migrator/)? The latter is what we use in production, and should work with [Pipeline 2 v1.9](https://github.com/daisy/pipeline-assembly/releases/tag/v1.9).

[2017-03-06 15:05] svenax commented on #1
Thanks. I was building *this* project. I'll try to use *nordic-epub3-dtbook-migrator* instead.

[2017-03-06 15:40] svenax commented on #1
Hmm. Downloaded Pipeline v1.9 from here https://github.com/daisy/pipeline-assembly/releases/download/v1.9/pipeline2-1.9-webui_mac.zip, nordic stuff from here https://dl.dropboxusercontent.com/u/6370535/nordic-epub3-dtbook-migrator/builds/nordic-epub3-dtbook-migrator-1.1.0-build_314-commit_13e61e4.jar and dependencies from here https://dl.dropboxusercontent.com/u/6370535/nordic-epub3-dtbook-migrato

[2017-03-07 15:54] josteinaj commented on #1
Hi.

I tried it now in a clean environment and it worked fine. Using docker:

[code]

I see you're using OSX. I haven't tried that but it works on both Windows and Linux so I doubt there should be any trouble with OSX. There's nothing OS-specific in the nordic migrator source code.

Are you sure you're using Pipeline v1.9? If you already had Pipeline v1.10 running then the CLI won't shut it down.

[2017-03-07 15:57] josteinaj commented on #1
To see which version of Pipeline is currently running you can go to http://localhost:8181/ws/alive where you'll get something like:

[code]

[2017-03-13 12:56] svenax commented on #1
Running the exact same commands as you did in a clean docker image works fine. It looks like I could use `docker-nlb-base` for provisioning, right?. I first tried `snaekobbi/system` from docker-hub, but realised that it doesn’t have the same modules.

[2017-03-13 13:02] josteinaj commented on #1
Ah, yes, [docker-nlb-base](https://github.com/nlbdev/docker-nlb-base) should work. We're not currently using it here but the nordic scripts should work there. I've been wanting to use docker more but haven't gotten around to it. If you want to use docker-nlb-base then you should probably lock its version (`docker-nlb-base:v1.0.0`) in case I change it in the future.

[2017-03-13 13:15] josteinaj commented on #1
Hmm, I tried docker-nlb-base on my computer now but didn't get it working. Don't know why it didn't work, I'll have to update it soon. Meanwhile I'm sure you could make a Dockerfile based on the commands I posted above if you want to.

[2017-03-13 13:38] svenax commented on #1
OK. Trying it `dp2` just hangs. I'll use a Dockerfile of my own for now.

[2017-06-27 08:25] josteinaj opened #2 "Move issues from nlbdev/pipeline-mod-nlb to nlbdev/pipeline"
_From @josteinaj on June 27, 2017 8:23_

Will try moving this issue first. Adding some metadata, comments etc. to see what gets moved...

_Copied from original issue: nlbdev/pipeline-mod-nlb#63_

[2017-06-27 08:25] josteinaj commented on #2
Adding a comment to see if it gets moved.

[2017-06-27 08:26] josteinaj opened #3 "For e-mails and URLs, use mathematical hyphenation when splitting over two lines"
_From @josteinaj on September 11, 2015 7:25_

Also, the normal hyphenation rules should not be applied as those might insert additional characters.

_Copied from original issue: nlbdev/pipeline-mod-nlb#5_

[2017-06-27 08:26] josteinaj commented on #3
_From @bertfrees on September 11, 2015 7:39_

Does that mean a different hyphenation character, and only insert it if the words are too long to fit on a line?

[2017-06-27 08:26] josteinaj commented on #3
_From @bertfrees on September 11, 2015 7:57_

OK. I will need to implement the [`hyphenate-character`](http://snaekobbi.github.io/braille-css-spec/#h4_the-hyphenate-character-property) property. And maybe also make a new value for `hyphens` that means "`none` + insert a `hyphenate-character` when a word is split because it's too long to fit on a line".

This is another reason to handle e-mails and

[2017-06-27 08:26] josteinaj commented on #3
Yes.

[2017-06-27 08:26] josteinaj commented on #3
_From @bertfrees on October 5, 2015 19:15_

Technically, deferring translation of URLs to the formatting phase comes down more or less to the same thing as the hyphenate-character option because we would need to tell Dotify with a style element that a certain text segment is a URL. That is, assuming we don't want to do the URL recognition step twice. For the hyphenate-character option either we ne

[2017-06-27 08:26] josteinaj commented on #3
Is the context the surrounding text, where in the document the URL occurs, what CSS is applied etc? I don't think the translation would change depending on the context.

@KariRudjord: We need to discuss whether or not mathematical hyphenation is appropriate for URLs. Mathematical hyphenation is dot 6, the same as the upper-case indicator, so it assumes that all URLs are case-insensitive, which the

[2017-06-27 08:26] josteinaj commented on #3
_From @bertfrees on October 6, 2015 9:58_

Yes. I meant it more in general. It could be that Norwegian braille translation is less context dependent.

In some other braille codes you have rules like: depending on the length (in words) of a bold passage it is indicated differently. If in that case you are going to defer or isolate the translation of certain words you get into trouble quickly.

[2017-06-27 08:26] josteinaj commented on #3
Right, I see. Let's assume that norwegian URLs are context-independent.

@KariRudjord: please correct me if I'm wrong.

[2017-06-27 08:26] josteinaj commented on #3
_From @KariRudjord on October 6, 2015 10:44_

Yes, the URLs are context-independent.

[2017-06-27 08:26] josteinaj commented on #3
I don't know the status here, should we test this?

[2017-06-27 08:26] josteinaj commented on #3
_From @KariRudjord on March 15, 2016 12:3_

I think it is a too small thing to be tested now. There are lots of smaller things that could be tested, but it would occupy much time.

[2017-06-27 08:26] josteinaj commented on #3
_From @bertfrees on March 15, 2016 12:7_

@josteinaj status = to do

[2017-06-27 08:26] josteinaj commented on #3
@KariRudjord Ok, that's fine.

@bertfrees Ok, thanks.

[2017-06-27 08:26] josteinaj commented on #3
_From @bertfrees on March 15, 2016 12:14_

There's a couple of things that need to happen in mod-braille before you can implement it in mod-nlb. I was planning to do the things in mod-braille this week.

[2017-06-27 08:26] josteinaj commented on #3
Ok, no worries, was just wondering the status since there were no updates on this since october :)

[2017-06-27 08:26] josteinaj commented on #3
_From @bertfrees on June 10, 2016 11:55_

I'll start by explaining how this can be achieved. It should be relatively easy now after the big change I did for supporting non-standard hyphenation.
- Detect in the [FromStyledTextToBraille](https://github.com/snaekobbi/pipeline-mod-nlb/blob/a74ddfe2559cf2ba0a7aa9e8f4360a1d7455bd71/src/main/java/no/nlb/pipeline/braille/impl/NLBTranslator.java#L220) inte

[2017-06-27 08:27] josteinaj opened #4 "Full support for combining marks"
_From @josteinaj on September 14, 2015 10:9_

Many of the diacritic letters can also be written by using combining marks:
http://unicode-table.com/en/search/?q=combining

For instance: "å" (U+61 U+030A) and "å" (U+E5).

Many diacritic letters, such as e̊, can only be written by using these combining marks.

We could generate a table (or extend the existing one) for these diacritics where we inclu

[2017-06-27 08:27] josteinaj commented on #4
_From @bertfrees on September 14, 2015 10:16_

Related: https://github.com/liblouis/liblouis/issues/98

[2017-06-27 08:27] josteinaj commented on #4
Opcodes such as `lowercase` and `sign` does not work with combining characters since they are not recognized as a single character.

[2017-06-27 08:27] josteinaj commented on #4
Will wait until liblouis has native support for combining marks.

[2017-06-27 08:27] josteinaj commented on #4
See also: #59

[2017-06-27 08:27] josteinaj opened #5 "Don't break lines after opening quote or before ellipsis or closing quote"
_From @bertfrees on March 2, 2016 13:11_

For example, like this:

[code]

and not like this:

[code]

_Copied from original issue: nlbdev/pipeline-mod-nlb#23_

[2017-06-27 08:27] josteinaj commented on #5
_From @bertfrees on March 2, 2016 13:23_

In the cases where there is no space between the letter and the ellipsis or quote it is probably working fine already. In the cases with a space (2nd and 3rd examples) it is probably not working. A possible fix is to replace those spaces with no-break spaces.

@KariRudjord is first going to test some more.

[2017-06-27 08:30] josteinaj opened #6 "Clean up tests a bit"
_From @bertfrees on March 2, 2016 18:50_

- [x] test_translator.xprocspec is failing.
- [x] If possibly remove or replace pending tests, otherwise explain why it is pending.
- [x] test_css_formatter.xprocspec isn't really testing anything from this module. Better would be to turn this into a script test, or move it to pipeline-mod-braille.
- [x] The expected result of some tests hasn't been verifi

[2017-06-27 08:30] josteinaj commented on #6
I agree. I'll have a look at it.

[2017-06-27 08:30] josteinaj commented on #6
CC @usama49

[2017-06-27 08:30] josteinaj commented on #6
_From @bertfrees on March 25, 2016 11:21_

Updated list of things to do.

[2017-06-27 08:30] josteinaj opened #7 "Make all options work"
_From @bertfrees on March 15, 2016 9:20_

- Options that have been implemented in the generic dtbook-to-pef should not be overwritten.
- Options that were not generic enough to implement in the generic dtbook-to-pef should be implemented here.

Ammar has already fixed `$page-width`, `$page-height` and `$hyphenation` in https://github.com/snaekobbi/pipeline-mod-nlb/commit/dab14906ae791e0e6d457cb017

[2017-06-27 08:30] josteinaj commented on #7
I agree, we should go through and check all the options for this.

It can be impractical to write tests for the entire script to test script options though. When writing tests for the entire script, where the input is a DTBook and the output is a PEF, it's useful to filter out only the portion of the PEF that is relevant for the test so that small changes to the default CSS don't require updating

[2017-06-27 08:30] josteinaj commented on #7
_From @bertfrees on March 15, 2016 10:33_

Yeah I saw that, I thought that was pretty smart.

Annotated PEFs. That's something I've thought about too. But it's probably a bit too ambitious. It doesn't sound impossible, but whether we'll have time for it is another thing. So I don't know, I haven't got great hopes for it.

[2017-06-27 08:30] josteinaj commented on #7
Ok, I'll use the current approach with matching the text nodes then. I think it's good enough.

[2017-06-27 08:31] josteinaj opened #8 "Support for tables"
_From @bertfrees on April 14, 2016 9:48_

Have we determined yet what we want to do with tables? It can be useful to look at what other have done:
- [SBS](https://github.com/snaekobbi/pipeline-mod-sbs/blob/5694ef84eb57d7c80d9af7fac5dbe3eaa31a11af/src/main/resources/css/default.scss#L283)
- [Celia](https://github.com/snaekobbi/pipeline-mod-celia/blob/1bf7946245500bb577c9eff351755e12c735ce96/src/mai

[2017-06-27 08:31] josteinaj commented on #8
@usama49 will you have a look and talk to @KariRudjord if needed?

[2017-06-27 08:31] josteinaj commented on #8
Let's test how this works now (since I think we have tables as lists already?), and if needed we can create more specific issues for how to improve the tables later.

[2017-06-27 08:31] josteinaj opened #9 "Title page and colophon should never have double line spacing"
_From @bertfrees on May 10, 2016 9:19_

The NLB CSS currently looks like this:

[code]

and in the generic dtbook-to-pef CSS we have:

[code]

I guess the NLB CSS should have something like this instead (not verified!):

[code]

_Copied from original issue: nlbdev/pipeline-mod-nlb#41_

[2017-06-27 08:31] josteinaj commented on #9
_From @bertfrees on May 10, 2016 9:43_

We could also consider removing the generic rule, or alternatively, create a new option `line-spacing-body` specific to the NLB script.

[2017-06-27 08:31] josteinaj commented on #9
I think cancelling the generic rule sounds fine.

@usama49: I'm assigning you to this so that when you have time you can look at it. Try with and without Berts suggested SCSS snippet, and maybe create a test for it if you think it's needed.

[2017-06-27 08:31] josteinaj opened #10 "Share non-standard hyphenation patterns with LibreOffice?"
_From @bertfrees on May 13, 2016 8:53_

I was at a talk at FOSDEM were they explicitly asked for contributions to the Norwegian dictionaries (see https://fosdem.org/2016/schedule/event/wysiwyg/attachments/slides/1201/export/events/attachments/wysiwyg/slides/1201/future3.pdf, page 2). So that means that there is already support for non-standard hyphenation in LibreOffice but needs to be improved. I

[2017-06-27 08:31] josteinaj commented on #10
Interesting, thanks! I'll wait with contacting them though until I have more time (i.e. after the Take Part conference etc.).

[2017-06-27 08:31] josteinaj opened #11 "Add a report document with information about the PEF"
_From @josteinaj on May 20, 2016 12:4_

The report should include the total number of PEF pages (i.e. XPath `count(//pef:page)`)

(Note that this is not a high priority, we can do this after the main project is finished if necessary)

CC @KariRudjord

_Copied from original issue: nlbdev/pipeline-mod-nlb#46_

[2017-06-27 08:31] josteinaj opened #12 "Spaces in numbers should be removed"
_From @KariRudjord on May 20, 2016 13:32_

E.g. 10 000, telephone 22 08 34 57 or 3095 05 55555. Is it possible to make a rule so that space between digits is removed? (To avoid new number sign in the middel of the number or splitting in two rows when in end of a row)

@bertfrees @josteinaj

_Copied from original issue: nlbdev/pipeline-mod-nlb#47_

[2017-06-27 08:31] josteinaj commented on #12
We can remove spaces between numbers during preprocessing by using a regex. @bertfrees is it easier and/or more efficient to do it somewhere other then during preprocessing?

[2017-06-27 08:31] josteinaj commented on #12
_From @bertfrees on May 20, 2016 14:39_

I don't know about more efficient. But it could also be done in Liblouis I guess. And the more you can move to Liblouis the more useful it'll become outside the Pipeline.

[2017-06-27 08:31] josteinaj commented on #12
Ok. I don't know (or have time to get to know) how to do that in liblouis.

@egli: would SBS be interested in solving this issue in liblouis? Otherwise we'll do it in our preprocessing XSLT.

[2017-06-27 08:32] josteinaj opened #13 "Automatically test all hyphenation rules"
_From @josteinaj on May 31, 2016 13:29_

Leaving out substrings.pl from the dictionary generation might be a bad idea: https://github.com/snaekobbi/pipeline-mod-nlb/commit/ed0275a686f7369f84387741522518451e3ac7dc#commitcomment-17678339

...or maybe not. We'll have to test it more thoroughly.

_Copied from original issue: nlbdev/pipeline-mod-nlb#50_

[2017-06-27 08:32] josteinaj opened #14 "First half of word is deleted when non-standard hyphenation break point is at page width"
_From @josteinaj on June 3, 2016 13:30_

To illustrate, these three lines represent the page width, box/paragraph width, and braille text (shown as characters). As I see them in the PEF:

[code]

In this case, the paragraph box ends between `VOLLEYBAL` and `LEDEREN`, which is also the hyphenation point for the word `VOLLEYBALLEDEREN`. Hyphenated, the word should be `VOLLEYBALL-LEDEREN`

I tested w

[2017-06-27 08:32] josteinaj commented on #14
_From @bertfrees on June 3, 2016 13:38_

Oops, that's a bug alright!

[2017-06-27 08:32] josteinaj commented on #14
_From @bertfrees on June 10, 2016 10:50_

You were going to provide a test in mod-nlb right?

[2017-06-27 08:32] josteinaj commented on #14
Oh, right, yeah I can do that. Thanks for reminding me.

[2017-06-27 08:32] josteinaj commented on #14
@bertfrees test added to branch `issue-51`.

[2017-06-27 08:32] josteinaj commented on #14
@usama49: this needs to be high on our list for testing.

[2017-06-27 08:33] josteinaj opened #15 "Fix script option: sheets/pages (default value and terminology)"
_From @KariRudjord on June 10, 2016 7:32_

Change from sheets to pages i GUI. Maximum pages should be 86 (Jostein).
Keep sheets in CSS Sheets should be 43 (Ammar).
Total amount of pages must be pages, not sheets. (Ammar/Bert)

We will communicate this to braille producers. It will only be a challenge when printing on every second page, and that we don't do often.

@josteinaj @usama49 @bertfrees

_

[2017-06-27 08:33] josteinaj commented on #15
_From @bertfrees on June 10, 2016 11:16_

- [x] Total amount of pages must be pages, not sheets: see https://github.com/snaekobbi/pipeline-mod-nlb/issues/32#issuecomment-225145600
- [x] Change from sheets to pages in GUI: This requires a change in the script (new option) and in the CSS (new option must be divided by 2 to obtain the value for max-length. The only difficulty is that in order to be a

[2017-06-27 08:33] josteinaj opened #16 "Replace release notes on Github with links to NEWS file"
_From @bertfrees on June 20, 2016 17:50_

to solve problem of duplication described at http://www.mehdi-khalili.com/better-git-release-notes. I've already done this for the pipeline-mod-braille repository but the same can be done for pipeline-mod-nlb, pipeline-mod-celia, pipeline-mod-dedicon, pipeline-mod-mtm, pipeline-mod-sbs, pipeline-mod-nota and snaekobbi/system.

_Copied from original issue:

[2017-06-27 08:33] josteinaj opened #17 "Improve performance of Pipeline"
_From @bertfrees on November 17, 2016 12:13_

This is just a reference to https://github.com/snaekobbi/issues/issues/28. This way I'm adding the issue to NLB's to-do list.

The system must be able to handle several productions a day, including repeating productions that need more adjustments in source file.

_Copied from original issue: nlbdev/pipeline-mod-nlb#55_

[2017-06-27 08:33] josteinaj opened #18 "Improve stability of Pipeline"
_From @bertfrees on November 17, 2016 12:34_

The system must be reliable.

This is just a reference to https://github.com/daisy/pipeline-mod-braille/issues/135. This way I'm adding the issue to NLB's to-do list.

_Copied from original issue: nlbdev/pipeline-mod-nlb#56_

[2017-06-27 08:33] josteinaj opened #19 "Create JUnit test for liblouis emphasis handling and simplifying NLBTranslator.java"
_From @josteinaj on November 17, 2016 12:46_

- [ ] Add JUnit test that shows the problem
- [x] Clean up `NLBTranslator`. Currently the `FromStyledTextToBraille` and `LineBreakingFromStyledText` look very different. This is because I added `LineBreakingFromStyledText` later (see also [NLBTranslator.java#L222](https://github.com/snaekobbi/pipeline-mod-nlb/blob/0d2a3649051684f6e6420c3bbd12ae39a65589

[2017-06-27 08:34] josteinaj opened #20 "Automatic volume breaking"
_From @bertfrees on November 17, 2016 12:54_

Wish/claim from NLB:

- All volumes are about the same size
- The first text page in a volume is always full (volume does not begin with the end of a chapter)
- Do not split a &lt;p&gt; in two volumes, move it to the new volume.

_Copied from original issue: nlbdev/pipeline-mod-nlb#58_

[2017-06-27 08:34] josteinaj commented on #20
_From @bertfrees on November 23, 2016 13:34_

A part of it is already supported, and just needs to be tested. Another part (notably not splitting a &lt;p&gt; in two volumes) is not supported yet.

See https://github.com/daisy/pipeline-mod-braille/issues/136.

[2017-06-27 08:34] josteinaj commented on #20
A suggestion for a volume breaking algorithm:
1. If at page 70, there is a headline, break just before that headline
2. If at page 70, there is no headline in the two preceding or two following pages, then break after the last full paragraph on that page
3. Otherwise do steps 1-2 for page 69
4. Otherwise do steps 1-2 for page 68
5. ...
6. Otherwise do steps 1-2 for page 4
7. Otherwise break after

[2017-06-27 08:34] josteinaj opened #21 "Basic support for combining marks"
_From @josteinaj on November 17, 2016 12:58_

Due to limitations in liblouis, combining marks are not supported. See: https://github.com/nlbdev/pipeline/issues/4.

However, as a more basic solution, we can replace characters with combining marks with combining mark-less equivalents:
- `å` (U+61 U+030A) has the equivalent character `å` (U+E5)
- `e̊` (U+65CC U+8A) can be rewritten into either `e˚`,

[2017-06-27 08:34] josteinaj opened #22 "More feedback to the user about what happens during conversion"
Depends on: https://github.com/daisy/pipeline-mod-braille/issues/165

[2017-06-27 08:35] josteinaj opened #23 "Improved HTML support"
_From @josteinaj on November 17, 2016 13:19_

Initial EPUB 3 support was added in #35.

Further work is needed. We need to test that the script works on our books and that we are satisfied with the output. This might entail work on SCSS, preprocessing and postprocessing steps, as well as improvements to the XProc/XSLT implementation of the script (either NLB-specific or generic).

_Copied from ori

[2017-06-27 08:35] josteinaj opened #24 "Original pagenum are rendered multiple times per page"
_From @josteinaj on January 12, 2017 16:26_

_Copied from original issue: nlbdev/pipeline-mod-nlb#62_

[2017-06-27 09:15] josteinaj commented on #2
Previously closed issues have not been moved from nlbdev/pipeline-mod-nlb to nlbdev/pipeline:

- [Put compiled hyphenation dictionary under source control](nlbdev/pipeline-mod-nlb#49)
- [GUI - 3 useful options that don't work](nlbdev/pipeline-mod-nlb#48)
- [Either implement or hide unimplemented options](nlbdev/pipeline-mod-nlb#42)
- [Non-standard hyphenation patterns](nlbdev/pipeline-mod-nlb#38)

[2017-06-27 09:16] #2 closed, assigned to josteinaj

[2017-06-27 09:41] josteinaj commented on #13
@usama49 I'm assigning you to this, is that ok?

[2017-06-27 09:49] josteinaj opened #25 "Review test data from snaekobbi project"
https://github.com/snaekobbi/testing/tree/master/Test%20data

We could probably reuse data from there for automatic or manual testing.

[2017-06-27 09:51] josteinaj commented on #25
@KariRudjord @usama49 maybe one of you could check the snaekobbi repository linked to above and see if the test data there is something we can reuse for testing now?

[2017-06-27 10:34] KariRudjord commented on #25
Much of this is doublechecked already. We could retest notes (sprint 8), TOC and table-to-list (sprint 7) and hard page breaks and orphan/widow control (sprint 4).

[2017-06-27 10:53] josteinaj opened #26 "Notes"

[2017-06-27 10:53] josteinaj opened #27 "Retest TOC (from sprint 7)"

[2017-06-27 10:53] josteinaj opened #28 "Retest table-to-list (sprint 7)"

[2017-06-27 10:54] josteinaj opened #29 "Retest hard page breaks and orphan/widow control (sprint 4)"

[2017-06-27 10:57] josteinaj commented on #25
Ok. I created issues for retesting: #26 #27 #28 #29 (no testing to be done until a new version is installed of course).

The test data in the snaekobbi repository is input DTBook and expected output PEF, right? So I could set up some automated tests for them?

[2017-06-27 11:12] usama49 commented on #12
please see (8.2 Tall inndelt i siffergrupper) in punkt handbook

[2017-06-27 11:50] KariRudjord commented on #25
Yes, that is what I sent each time. Expected output may be absent if NorBraille doesn't have the solution, e.g. the solution for notes is another than the one we have in NorBraille. And NorBraille doesn't hand tables.

[2017-06-27 11:58] josteinaj opened #30 "Create xprocspec tests based on snaekobbi acceptance tests"
https://github.com/snaekobbi/testing/tree/master/Test%20data

[2017-06-27 11:59] josteinaj commented on #25
Ok, thanks. I've created issue #30 for me to create automated tests. Closing this issue.

[2017-06-27 11:59] #25 closed, assigned to nobody

[2017-06-27 12:19] josteinaj commented on #20
*Moved from Trello board:*

Volume breaking: currently breaks arbitrarily. Make rules for division on `<h>` or `<p>` according to better defined rules. For instance, if the last `<h>` is such and such far away, divide on the next `<p>`.

[2017-06-27 12:22] josteinaj opened #31 "Start using the braille script(s) in production"
- [x] Set up automatic conversions of all incoming EPUBs (#41)
- [ ] Write production routines for manual production using the Web UI
- [x] Consider setting up a separate server for production rather than using the same server as for testing

[2017-06-27 12:25] josteinaj commented on #24
...need to test if this is still the case.

[2017-06-27 12:25] josteinaj commented on #15
...need to check if sheets/pages are used correctly in web ui.

[2017-06-27 12:42] josteinaj opened #32 "move colophon, hide titlepage and print toc"
Maybe delete most of it and keep only dedications and forewords?

[2017-06-27 12:45] josteinaj opened #33 "braille: Trial productions / Prøveproduksjoner"
(norwegian)

Prøveproduksjoner ulike testtyper: barnebok, voksen fagbok, dikt, kokebok. Korrekturrunde eksternt?

[2017-06-27 12:47] josteinaj opened #34 "CSS templates: books, periodicals, and braille clubs"

[2017-06-27 12:55] josteinaj opened #35 "Acrynyms with genitive "s" / Akronymer med genitivs-s"
(norwegian)

*from Trello-board (@matskober):*

Legge inn akronymer med genitivs-s (f.eks. NLBs. I punktskrift skal det være et tegn som markerer skillet mellom akronymet og genitivs-s - 56). Liste over akronymer er skaffet fra Mari

[2017-06-27 12:57] josteinaj commented on #35
*from Trello-board (@matskober):*

Det lyder rart at det ikke skal gå å lage en regel som sier at forekomster av små bokstaver i en gruppe av store bokstaver skal markeres med småbokstavtegn. (Det er jo på en måte bare å speilvende regelen som i dag markerer forekomsten av store bokstaver?) Men det er kanskje ikke det du sier?

Svenskene og UEB bruker generelt "lukketegn" for å markere denne endri

[2017-06-27 12:58] josteinaj commented on #35
*from Trello-board (@KariRudjord):*

Vi har dessverre ikke funnet noen annen måte å gjøre dette på enn manuelt. Planen er å gå gjennom lista slik at den automatisk lager skillet der det forekommer. Listen trenger ikke nødvendigvis bare inneholde akronymer, men også andre ord der det er skille mellom stor og liten bokstav. Kjemiske formler må vi også finne en løsning på, med nedre eller øvre indeks

[2017-06-27 12:58] josteinaj commented on #35
*from Trello-board (@matskober):*

Punktskifttegnet som det snakkes om her, er et såkalt "småbokstavtegn". I utgangspunktet bør kanskje dette ikke knyttes for tett opp til akronymer; skifte fra grupper av store til forekomster av små bokstaver kan forekomme i andre kontekster, som layoutmessig effekt i barne/ungdoms bøker, f.eks.

Likevel bør kanskje akronymer være tagget opp i EPUB-en? I dag gjør

[2017-06-27 13:00] josteinaj opened #36 "Web UI: adjusting page width/length not working"
*from Trello-board:*

Fix it if it's simple. If not, we remove the option and do it in CSS. It's something we rarely have to adjust.

[2017-06-27 13:01] josteinaj opened #37 "Allow uploading and using more than one CSS at a time"
*from Trello-board*

[2017-06-27 13:03] josteinaj opened #38 "Web UI / braille scripts: spaces before and after linegroup not working"
*from Trello:*

Spaces before and after linegroup is not working as expected (it is line and not linegroup that is ignored). Delete this option.

[2017-06-27 13:04] josteinaj opened #39 "Web UI / braille scripts: tekstelementer -> include notes: only "true" works"
*from Trello-board:*

We need the ability to drop footnotes ("false").

[2017-06-27 13:05] josteinaj opened #40 "Use the liblouis UEB table for english"
*from Trello-board*

[2017-06-27 13:08] josteinaj opened #41 "Propose automated production workflow / Lage forslag til automatisert produksjonsprosess (hver natt)"
(norwegian)

*from Trello-board:*

- Trinn 1 automatisk produksjon der alt kontrolleres av punktskriftprodusent.
- Trinn 2 automatisk produksjon med automatiske feilmeldinger når noe feiler i bøkene.

[2017-06-27 13:10] josteinaj opened #42 "Proposal for automatic lending (braille) / Forslag til automatisert utlån (punktskrift)"
(norwegian)

*from Trello:*

Forslag til automatisert utlån: legge PEF på område der trykkeriet kan hente filene selv. Generere e-post med lånerinformasjon automatisk til trykkeri. Ammar. Kari tar en prat med utlån/formidling om ev feilbestillinger.

[2017-06-27 13:18] josteinaj opened #43 "braille: Satisfactory quality for EPUB-files"
*from Trello-board:*

Do we need braille-preprocessing for some things?

[2017-06-27 13:20] josteinaj opened #44 "braille: consider custom options for each patron / Se om man kan åpne for individuelle valg for den enkelte låner"
(norwegian)

*from Trello-board:*

Se om man kan åpne for individuelle valg for den enkelte låner: f.eks. fullskrift/kortskrift, enkel/dobbel linjeavstand, (e-punkt, e-bøker?). Et knippe standardvalg. Inkluderer tilpasning i bibliofil og nettside (ses i sammenheng med øvrige bestillinger til Bibliofil, f.eks. e-bøker)

[2017-06-27 13:32] josteinaj opened #45 "braille: add CSS for making tables into lists"
*from Trello-board:*

(CSS is under AT). What to do if a table cannot be rendered as a list?

[2017-06-27 13:45] josteinaj opened #46 "Hyphenation only works in first part of word?"
*from Trello*

Have a closer look at hyphenation Splits (probably) only in first part. Text disappears when splitting "volleyballederen".

[2017-06-27 13:48] josteinaj opened #47 "braille: add 'Bildebeskrivelse:' before images with alt-text"
*from Trello-board:*

Alternative text for images (`<img src="" alt="">`). Can you add in CSS so that when the `alt` attribute has content, then the following text comes in front: "Bildebeskrivelse:". As with "Bildetekst:" there should be a blank line above and below and two indents from the margin on the whole text.

[2017-06-27 13:49] josteinaj opened #48 "braille: NLB-CSS: page: margin-right=0 size: 32 28"
*from Trello-board*

[2017-06-27 13:54] josteinaj opened #49 "Title page: order of first name / last name"
*from Trello-board*

On the title page, the author(s) and translator(s) should have their first names first, then their last names. Currently they are listed with their last name first, then a comma, and then their first names.

[2017-06-27 13:55] josteinaj opened #50 "braille CSS: translator / oversetter"
(norwegian)

*from Trello-board*

NLB-CSS: title page: -          «Oversatt av» skal kun stå når det er oversetter. (Nå kommer det med også på bøker som ikke er oversatt)

[2017-06-27 13:57] josteinaj opened #51 "braille CSS: "NLB", "Norge 2016", placement / plassering"
(norwegian)

*from Trello-board*

NLB-CSS: title-page: De to linjene «NLB» og «Norge 2016» - skal stå uten blank linje mellom (hvis det er vanskelig, kan de stå på samme linje: «NLB, Norge 2016»)

[2017-06-27 13:58] josteinaj opened #52 "braille CSS: toc margins and headline / innholdsfortegnelse-marger og tittel"
(norwegian)

*from Trello-board*

NLB-CSS: TOC: endre følgende i NLB default CSS: margin-left: 0 (begge steder) og margin-top: 0 (begge steder).   Fast overskrift (h1) over innholdsfortegnelsen med teksten: Innhold

[2017-06-27 14:02] josteinaj opened #53 "Automatically reposition <em>"
*by @matskober from Trello:*

- `em` should end right before a period, not right after.
- `em` should also be *inside* quites / double angles, not outside.

**Wrong:**
[code]

**Correct:**
[code]

[2017-06-27 14:07] josteinaj opened #54 "Use other languages straight from liblouis"
- ~~New table for sami languages.~~ Moved here: #101
- ~~New table for Old West Norse ("norrønt") or Old Norwegian ("gammelnorsk").~~ Moved here: #98
- ~~Use the liblouis UEB table for english.~~ Issue is here: #40
- Use other languages straight from liblouis.

- [ ] Translator should switch language depending on `xml:lang` and `lang` attributes.
- [ ] Should probably also have an option to force

[2017-06-27 14:18] josteinaj opened #55 "braille: Colophon info on first page / Ang layout / hefteinndeling / forsideinfo / kolofon mm"
(norwegian)

*from Trello (@matskober):*

[2017-06-27 14:19] josteinaj commented on #55
*from Trello (@matskober):*

Første venstreside i det første heftet: Relevante opplysninger fra kolofon
(vil variere), pluss transkripsjonsinnstillinger/opplysninger ("Om boka", i dag - burde kanskje stå "om punktskriftutgaven" eller noe lignende)

[2017-06-27 14:19] josteinaj commented on #55
*from Trello (@matskober):*

Forsiden kunne benyttes bedre enn vi gjør i dag; forslår at vi drar en del av kolofoninfoen og metadata dit.
Øverst på forsiden, venstrestilt: Forfatter (max tre linjer)
tittel (max tre linjer)
eventuell oversetter (max tre linjer)
Forlag, sted, år (max tre linjer)

Nederst på forsiden
NLB, år
total sidetall og antall hefter i tittel
hefte x av y, (pluss pagespan i hef

[2017-06-27 14:21] josteinaj commented on #20
*from Trello-board:*

For reference regarding braille CSS rules: http://braillespecs.github.io/braille-css/20161201/#volume-breaking-rules

[2017-06-27 14:23] josteinaj opened #56 "Braille pages start on 0 at every new section (in PEF)"
*from Trello*

Odd numbers appear on left side.

[2017-06-27 14:42] josteinaj opened #57 "Switch position of generated "Om boka" and TOC"
*from Trello:*

TOC first, then "Om boka".

@matskober correct?

[2017-06-27 14:44] josteinaj opened #58 "All elements before the first chapter gets their own <section>"
*from Trello:*

Is this intentional?

[2017-06-27 14:45] josteinaj opened #59 "The first page of "real" content starts at a left hand page"
*from Trello (@matskober):*

- The first page of "real" content ,e.g. chapther 1, starts at a left hand page and is paginated as page zero (should be right hand and page number 1)
- toc is also to start at a right hand page

[2017-06-27 14:47] josteinaj opened #60 "braille CSS: Move some properties from hx to levelx"
*from Trello (@KariRudjord):*

We should move some of the properties that are now assigned to hx over to levelx (to use DTBook terminology). This is to ensure that chapters without headlines has a sufficient `margin-top`.

[2017-06-27 14:50] josteinaj opened #61 "Text in chapter without <h1> should start on row 6"
*from Trello (@matskober):*

Tried to adjust css with level1.chapter to control  some margin in top, to avoid  the chapter to start at first line (no hx in this book). It did not work ...

[2017-06-27 14:50] josteinaj commented on #61
@usama49 could you have a look at this?

[2017-06-27 14:59] josteinaj opened #62 "h2 should behave as h1 when class=part"
*from Trello (@matskober):*

![ramme_h1](https://user-images.githubusercontent.com/295481/27594090-317249ca-5b59-11e7-96ab-484f3cbe3a39.PNG)

h1 by part should have a frame around itself. In the image "ramme_h1.png" the text in h1 has stretched itself all the way out to the frame. It must therefore be a margin or something around the text inside the frame.

![ramme_h1_eks2](https://user-images.git

[2017-06-27 15:15] josteinaj commented on #54
@bertfrees FYI: This issue is something we can look at if there's time at the end of the sprint. Nothing to worry about just yet, but just in case there's time.

[2017-06-27 15:21] josteinaj opened #63 ""-obfl-..." volume breaking rules doesn't work"

[2017-06-28 07:02] KariRudjord commented on #45
If a table cannot be rendered as a list, it will not be reproduced. Add the text: "Tabell utelatt."

[2017-06-28 07:41] josteinaj opened #64 "Overall check of the layout"

[2017-06-28 07:46] KariRudjord commented on #32
Dedications, quotes and forewords, yes. And we have to be sure that translator is present. It is supposed to be included in metadata, but doesn't always appear there. If we find a solution, Olav is interested to participate in the discussion.

[2017-06-28 08:06] KariRudjord opened #65 "Braille CSS: "Om boka" needs a check"
Both layout and text on page need some adjustments

[2017-06-28 08:42] josteinaj opened #66 "Braille in EPUB 3 for norwegian translation"
The default value of the "Braille translator query" option for the "Braille in EPUB 3" script is "(translator:liblouis)". This works. However, if I change it to "(translator:nlb)", it doesn't work.

[2017-06-28 08:50] bertfrees commented on #66
Have you tried adding `(grade:[0|1|2|3])`?

[2017-06-28 09:01] josteinaj commented on #66
I tried now. Same error:

[code]

[2017-06-28 10:32] bertfrees commented on #66
Working on it.

[2017-06-28 10:41] bertfrees commented on #20
From Mats:

[2017-06-28 13:41] josteinaj opened #67 "test_translator/test_css_translator: px:transform sets xml:lang="no-Brai""
I don't understand why this happens, but it seems to happen when `px:transform` is invoked:

[code]

It happens just in these two xprocspec tests where `px:transform` is invoked directly. I don't think it always happens either, so something must trigger it in some of the tests (css rule maybe?).

[2017-06-28 13:46] bertfrees commented on #67
Yes I know. I have fixed the test locally. It happens always, nothing to do with CSS.

[2017-06-28 13:48] josteinaj opened #68 "OBFLToPEFStep after 10 iterations: Failed to complete volume division"
[code]

Not sure what input causes it yet...

[2017-06-28 14:25] bertfrees commented on #68
This may happen because of several reasons. It may happen when the volume breaking algorithm can't find a solution. But I also remember I found a bug once that made Dotify _think_ it needed to do more iterations while it wasn't needed.

[2017-06-28 14:36] bertfrees commented on #68
I haven't found whether I was actually managed to fix this bug, but I may have. I'll let you know when the particular commit is pushed.

[2017-06-28 18:22] bertfrees commented on #66
Pushed a fix.

[2017-06-28 18:22] bertfrees commented on #67
Tests are fixed.

[2017-06-29 08:04] bertfrees opened #69 "Use NLB tables from upstream"
If they are not in sync with upstream we need to do more PRs. Currently it's hard to see how the files differ from upstream. It might be a better idea, since we have the super-repo now, to change the tables within the Liblouis source itself. This would depend on https://github.com/daisy/pipeline-mod-braille/issues/152.

[2017-06-29 08:21] bertfrees opened #70 "Dot-56 sometimes missing"
E.g., `a ble at l` translates to `⠰⠁ ⠃ ⠁ ⠇` sometimes instead of the correct `⠰⠁ ⠃ ⠁ ⠰⠇`. At first I thought the wrong translation was triggered by a previous translation, but after some investigation it turns out it can happen randomly.

Start with updating to latest version of Liblouis because it might be a bug that has been fixed already.

[2017-06-29 08:33] josteinaj commented on #70
Note: the translation uses grade 1 contraction, so it might be related to some contraction rules. "⠰" is used to signal that a character is a single character, and not a contracted word.

[2017-06-29 09:59] KariRudjord opened #71 "Skipping TOC when no headings (or print toc?)"

[2017-06-29 10:04] KariRudjord opened #72 "Chapter CSS-rules from hx to levelx"
Some books are without chapter headlines, but are divided in chapters with open space in beginning. To mark chapters (but not headlines) in these books, chapter rules show move from hx to levelx. DTBook 560475 is useful for testing.

[2017-06-29 10:17] KariRudjord commented on #71
Bert can help you if needed, Ammar.

[2017-06-29 12:32] josteinaj commented on #17
Speed is much better now so we're marking this as *done*.

[2017-06-29 12:33] bertfrees commented on #17
I haven't pushed the "shift-id" fix yet by the way.

[2017-06-29 12:43] josteinaj commented on #17
Ok. Its a lot better already so the shift-id fix is maybe not a high priority, although it would of course be nice to have it.

[2017-06-29 12:43] josteinaj commented on #17
Ok. Its a lot better already so the shift-id fix is maybe not a high priority, although it would of course be nice to have it.

[2017-06-29 13:37] josteinaj opened #73 "Nested languages and contraction grade"
When contraction is enabled, only norwegian text should be contracted. This generally works fine since we set `text-transform: unconctracted;` on other languages during pre-processing. However, since there's no `text-transform` value for setting the contraction grade that I'm aware of, there's no straight forward way to reenable contraction when there's norwegian text inside other languages. I'm n

[2017-06-29 13:46] KariRudjord commented on #73
@josteinaj : I don't think contracted braille in foreign languages is something we will prioritize. We will be happy just to get uncontracted english braille in PIP. So this is not an important issue.

[2017-06-29 13:47] josteinaj commented on #73
Ok. I'll move it to out-of-scope/backlog for now then.

[2017-06-29 17:40] matskober commented on #32
Dedications, etc in colophon, might be considered a markup issue; I suspect it is a print book phenomenon - I have yet not seen this in publisher EPUBs.
I suggest:
1. Info on Publisher (of the version we transliterate) and year to front page (from metadata)
2. Translator info should go on front page, as should original title (from metadata)
3. The colophon form the print book is moved to the end o

[2017-06-30 09:17] usama49 commented on #65
@KariRudjord Can you  write required adjustments

[2017-06-30 10:15] bertfrees commented on #70
This seems to have been fixed by updating to Liblouis 3.2.0. I'm not sure whether the bug was actually fixed are just "doesn't happen anymore". We can't be sure since it was a random thing.

[2017-06-30 11:12] josteinaj opened #74 "Should words in all capital letters be uncontracted?"
There's a rule in the latest version of the norwegian liblouis table saying that words in uppercase should not be contracted. Is that fine?

[2017-06-30 13:32] bertfrees commented on #56
Which test can I use for this?

[2017-06-30 13:33] bertfrees commented on #59
Which test can I use for this?

[2017-06-30 13:36] josteinaj commented on #56
Does this always happen or just for some books. @KariRudjord @matskober if you can send me a (preferably small) book where this happens then I can create an automated test for it.

[2017-06-30 13:37] bertfrees commented on #68
@josteinaj Is there a test for this checked in. Or do you want to try it manually? I haven't pushed that possible fix yet because it is part of that "shift-id" fix. I can push it if you want to test.

[2017-06-30 13:37] bertfrees commented on #63
Is there a test for this?

[2017-06-30 13:38] josteinaj commented on #63
No. I'll put it on my TODO to make a test for it.

[2017-06-30 13:46] bertfrees commented on #63
It may be a real book for now (vs. a proper unit test) and I don't need the expected PEF. If you want to be more specific maybe just add a description in words of what is expected.

[2017-06-30 13:48] josteinaj commented on #63
ok

[2017-06-30 13:51] KariRudjord opened #75 "Double linespacing not working in frontmatter"
Get the message "Error: assertion failed: [Rule 1] Rows do not fit within the defined page height" message.  Job 448

[2017-06-30 13:51] matskober opened #76 "Info about missing print page numbers in "om boka""
autodetect that before starting the conversion and disable page number / page markers if there are no page numbers
make that info available for *om boken* (ingen sidetall fra visuell utgave)

[2017-06-30 14:07] matskober commented on #56
To me it seems to happen constantly.

[2017-06-30 14:08] josteinaj commented on #63
I'm attaching the CSS file with volume breaking rules that gave the error previously (txt file extension since github won't allow css). However, I'm not getting the error now. Maybe something has been fixed after updating to the newer version?

@matskober have you tried with the volume breaking CSS with the new version?

[hefteinndeling.txt](https://github.com/nlbdev/pipeline/files/1115423/heftein

[2017-06-30 14:09] matskober commented on #59
@bertfrees This is what we talked about earlier? If we get page number right, it would turn out ok?

[2017-06-30 14:17] josteinaj opened #77 "Create more tests for EPUB and HTML"

[2017-06-30 14:17] josteinaj commented on #6
Will use `x:pef-compare` when needed, but in many cases I like to select just portions of the output to be used for comparisons and then it's not needed. Considering that done for now.

Created a new issue for "The default CSS could use some more tests". There's other issues that are more important, but I'd like to track it as an issue anyway. See: #77

[2017-06-30 14:17] #6 closed, assigned to josteinaj

[2017-06-30 14:18] matskober commented on #63
@josteinaj I just tried to add a css with a 'page-break-before: always' on level, but it don't happen

[2017-06-30 14:20] bertfrees commented on #63
@matskober page-break-before is only about page breaking, does not have to do with volume breaking.

[2017-06-30 14:20] josteinaj commented on #63
@matskober Ok, that's good. Could you try with the hefteinndeling.css file I sent you earlier (and linked to in my previous post here) and see is there's any errors, and if not, if the output looks good?

[2017-06-30 14:24] matskober commented on #63
@brert @josteinaj Of course; I did mean volume-brak-before.

[2017-06-30 14:24] josteinaj commented on #68
I found the book where it last happened. And it happened again when I ran it now. Uploaded it to our Slack channel.

Feel free to push the shift-id fix.

[2017-06-30 14:25] bertfrees commented on #68
Thanks. I can first test it myself now. Any specific non-default options I have to set?

[2017-06-30 14:30] bertfrees commented on #59
I remember but I'm not sure if fixing https://github.com/nlbdev/pipeline/issues/56 would fix this issue because I'm also not 100% sure I know what the issue is exactly. An example would make it more clear.

[2017-06-30 14:33] bertfrees commented on #63
I'm pretty sure that `volume-break-before:always` works because SBS has been using that property successfully. Again, an example that shows it doesn't work would be great.

[2017-06-30 14:39] matskober commented on #63
@bertfrees Yes, it seems to, when I tried it in the 'hefetinndeling.css'

[2017-06-30 14:45] bertfrees commented on #6
OK looks much better.

I know for sure that some test results are still wrong, for instance the page numbering, but we'll fix those when we get to it.

[2017-06-30 14:46] bertfrees commented on #56
The unit tests show that in some cases the page number is indeed 0. I'll investigate why that happens. It only seems to happen in the bodymatter though. It also does not always happen for every new section.

[2017-06-30 14:51] bertfrees commented on #75
Is this again the old error that happens when double line spacing is combined with a footer?

See https://github.com/brailleapps/dotify/issues/196

[2017-06-30 15:00] matskober commented on #63
@bertfrees
I tried to avoid a volume-break-before in the first occurrence of level1 by addressing the id (#ch1-1), but then it failed (Job 465). Is not 'avoid' implemented? (also tried level1#ch1-1)(Job464)

[2017-06-30 15:07] josteinaj commented on #68
I think everything is default.

[2017-06-30 16:10] bertfrees commented on #6
The test "Automatic numbering of notes" (added in https://github.com/nlbdev/pipeline-mod-nlb/commit/04482a5f82fa4b716cfc96abc4f9d05dba93f84e) also looks very suspicious.

[2017-06-30 16:31] bertfrees commented on #56
There is a rule (originally added in https://github.com/nlbdev/pipeline-mod-nlb/commit/1c259220d48a88396572d6a9425b84d96871b7af) in the CSS that says:
[code]

This rule is responsible for setting the initial page number to 0. This may have been more logical, because the page counter is incremented automatically, however it is not incremented automatically the first time. Thus it needs to be set to

[2017-06-30 16:33] bertfrees commented on #18
@josteinaj Have you noticed any improvements since updating to the latest Pipeline?

[2017-06-30 17:45] josteinaj commented on #18
Yes I believe so. Or at least it hasn't crashed yet. Previously we had to
do so a couple of times a day I remember.

Jostein

30. jun. 2017 18:33 skrev "Bert Frees" <notifications@github.com>:

[2017-07-02 12:42] matskober commented on #74
I believe that is a bad rule, given the quality of the Nordic EPUBs; they often have "non-semantic capitals" (as visual styling) in headings, blockquotes, the first words of chapters, etc. Also in children's  literature capital letters may be used as a way to emphasis bits of text, like SCREAMING. According to OUP, capitalisation is not preferable used as emphasis in braille (page 24 in "Håndbok f

[2017-07-02 13:36] matskober opened #78 "Correct numbering of pages"
Seem to me that are some overlapping issues regarding braille page numbers. (#59 and #56 are two; but I wrote a comment some place else, also)

I suggest that we skip the rule saying that braille page numbers are to start at the books main content ("bodymatter" in DTBook terminology), and starts counting  at the front page. Then we can show or hide the braille page number on the various kinds of p

[2017-07-03 07:14] josteinaj commented on #78
Ok. Should it start at 1 at the beginning of each volume?

[2017-07-03 07:19] josteinaj commented on #74
How about we remove any `<strong>` or `<em>` tags from all-capital words/sentences before converting, would it then be ok to keep the rule? Is this mainly a problem with our source files and not with the braille table itself?

[2017-07-03 07:27] josteinaj commented on #69
I think this is done?

[2017-07-03 07:36] josteinaj commented on #54
see also #40

[2017-07-03 07:37] josteinaj commented on #37
@usama49 @KariRudjord @matskober I think this works now, right?

[2017-07-03 07:41] josteinaj commented on #24
I think this has been fixed after updating. In any case we have other issues regarding page numbers so we'll discover while testing those whether this is still an issue. Considering this fixed.

[2017-07-03 07:41] #24 closed, assigned to nobody

[2017-07-03 07:45] KariRudjord commented on #78
I agree, @matskober (but not counting from 1 at the beginning of each volume, @josteinaj )

[2017-07-03 07:47] josteinaj commented on #78
@KariRudjord Ok. On Slack you mentioned that the frontpage and first left page should not be counted?

[2017-07-03 07:55] KariRudjord commented on #78
@josteinaj  Counted but hidden with CSS, so the pagenum is not present on the title page and the first left page, as Mats suggested

[2017-07-03 07:56] josteinaj commented on #78
Ok.

[2017-07-03 08:19] KariRudjord opened #79 "Margin when print page numbers are left out"
When print page numbers is left out of a production, the margin shall still be 2 columns. Now it is 1 according to Jostein.

[2017-07-03 08:35] josteinaj commented on #67
bd340ea74ea2ee1805940ad243dbef10401b3cbd

[2017-07-03 08:35] #67 closed, assigned to nobody

[2017-07-03 08:39] KariRudjord commented on #75
I'm quite sure it worked alright before (so maybe a bug in the last update)

[2017-07-03 09:03] josteinaj commented on #66
Tested locally. Works.

[2017-07-03 09:03] #66 closed, assigned to nobody

[2017-07-03 09:17] bertfrees commented on #78
I'm afraid this is not possible at the moment: see https://github.com/brailleapps/dotify/issues/165

[2017-07-03 09:18] josteinaj commented on #39
both "true" and "false" seems to work for me. However, the option should be a checkbox and not a text input field.

[2017-07-03 09:32] bertfrees commented on #74
Of course I agree with Jostein regarding removing the strong/em tags, but if I understand Mats correctly the Nordic countries have decided not to do this.

The rule could be removed from the table (actually we would make two tables, one with the rule and one without), however I'm not sure the rule is always redundant. There must be a good reason why Bue added it. Norwegian is even mentioned in the

[2017-07-03 09:37] matskober commented on #74
I guess this is a "political" question mainly; there is one school claiming that the Braille version should try to represent everything found in the visual / print book - including styling such as strong and capitals, even in headings. In the other end we find those who want the braille version to stripped for visual styling, only passing on "semantic styling" to the braille.  OUP's attitude on th

[2017-07-03 09:42] matskober commented on #37
@josteinaj @usama49 @bertfrees  @KariRudjord

Yes it works to add css. But only one css; but that's maybe how it's supposed to be?

[2017-07-03 09:43] josteinaj commented on #37
We could allow more than one CSS, I'll rename the issue.

[2017-07-03 09:49] matskober commented on #78
If it's not possible to include generated content, I suggest we start the
braille counting on the first not-generated element in the book.

[2017-07-03 09:49] bertfrees commented on #74
Maybe we should ask Bue why exactly the rule was added. There doesn't seem to be a strong use case.

Do you guys mark up acronyms? For acronyms it does make sense to not contract.

Also I have found an example where it is problematic to disable the rule, although I admit it's a real corner case: mixed caps inside a contraction.

[2017-07-03 09:53] matskober commented on #74
My point is that we should contract capitalised words and group of words, due to the fact that most of them would not be capitalised if the visual styling had been removed.

[2017-07-03 09:55] bertfrees commented on #78
This is how we do it now, except the page numbers are hidden on the first pages of the volume, right?

[2017-07-03 09:56] bertfrees commented on #69
Yep

[2017-07-03 09:56] #69 closed, assigned to nobody

[2017-07-03 10:01] bertfrees commented on #74
Yes I understand. But still I'm curious what the reasons were for adding the rule. @BueVest can you help us out here?

[2017-07-03 10:23] bertfrees commented on #37
What exactly is the issue?

[2017-07-03 10:25] KariRudjord commented on #37
I don't know. I would think all can be added in one additional CSS?

[2017-07-03 10:26] josteinaj commented on #37
The script accepts one CSS file to be selected, but @matskober would like to be able to select multiple CSS files. So not a bug (which I thought at first) but a feature request.

It should already be possible to attach multiple CSS files by `<?xml-model ...>`, `<style>` or `<link>` though (I think). Just not as a script argument (i.e. the Web UI widget).

[2017-07-03 10:28] bertfrees commented on #79
Can I get an example file please?

[2017-07-03 10:30] bertfrees commented on #75
OK could I get an example file please?

[2017-07-03 10:30] josteinaj commented on #79
I'll create a test.

[2017-07-03 10:36] bertfrees commented on #37
OK I see, in the NLB script you made the option into a `anyFileURI`. In the generic script it is just a `string` so you can specify multiple stylesheets by simply separating them with spaces. All you need is a `px:sequence="true"`, right?

[2017-07-03 10:45] josteinaj commented on #79
I can't reproduce it. I don't know why I saw it earlier. But I'll commit a test for it anyway.

[2017-07-03 10:58] josteinaj commented on #37
Yes, probably.

Jostein

3. jul. 2017 12:36 p.m. skrev "Bert Frees" <notifications@github.com>:

[2017-07-03 10:58] bertfrees commented on #68
@josteinaj There is a file missing: stylehyphenation.css.

[2017-07-03 10:59] bertfrees commented on #68
But not sure if it's important. I can reproduce the issue without.

[2017-07-03 11:24] josteinaj commented on #36
This seems to work for me.

@KariRudjord / @matskober is this still an issue?

[2017-07-03 11:55] KariRudjord commented on #26
Notes working fine, but there are some problems:
Heading "Fotnoter" should be added on top of the first note in end of volume.
With test job 506 (using 558096.xml, a regular book) heading is missing.

With test job 507 (using Testbok.DTBook.XMLelements.xml, my test book) the heading is present, but notes have strange behaviour, repeating on next page without heading.

[2017-07-03 12:30] bertfrees commented on #68
This has to do with the fact that the generated TOC references the `<h1>Noter</h1>`, which is inside a `level1` that is not displayed.

This results in an invalid OBFL but at the moment there is no OBFL validation yet (see https://github.com/daisy/pipeline-mod-braille/issues/151).

A bit related: https://github.com/sbsdev/pipeline-mod-sbs/issues/60#issuecomment-300261499

[2017-07-03 12:35] bertfrees commented on #68
Not sure how to fix this. Probably not possible to fix in CSS. I think we have to remove the TOC entry `<li> <a href="#h1_17"> Noter </a> </li>` with XSLT. An alternative is to automatically drop the TOC entry in css-to-obfl and raise a warning.

[2017-07-03 12:56] josteinaj commented on #14
This seems to work now. Added a regression test.

[2017-07-03 12:56] #14 closed, assigned to josteinaj

[2017-07-03 13:01] bertfrees commented on #14
For reference, it was fixed in https://github.com/daisy/pipeline-mod-braille/commit/eb2a8dc9ae425ce8c16ae996f23305fab4aa1704.

[2017-07-03 13:16] bertfrees commented on #63
No, `volume-break-before: avoid` is not implemented unfortunately. If you just want to reset the `volume-break-before: always` you could use `auto`:

[code]

I'll check why your job failed.

[2017-07-03 13:21] bertfrees commented on #63
Anyway, because `#ch1-1` is the very first chapter I don't think it makes sense to put a `volume-break-before: avoid` on it because it would never start in the second volume. That would mean that the first chapter has only pre-content and I don't think Dotify ever does that. I need to test it to be sure though.

[2017-07-03 13:28] matskober commented on #63
No, I wanted to make an exception, so that the first level1 did not trigger a new volume.

[2017-07-03 13:31] bertfrees commented on #63
OK, in that case `auto` should be enough:

[code]

[2017-07-03 13:49] bertfrees commented on #63
Now it seems to work. Every level1 in its own volume.  The error you get when omitting the `level1:not(:first-child)` rule is a bit cryptic, that should ideally become a warning with a bit more explanation.

[2017-07-03 14:05] bertfrees commented on #58
You mean that the TOC starts in a new section? This is because of https://github.com/braillespecs/obfl/issues/48.

[2017-07-03 14:09] KariRudjord commented on #36
It does not work when I adjust it in GUI, but it is not important, so it's fine with me to archive it. Agree, @matskober ?

[2017-07-03 14:11] bertfrees commented on #36
In that case we should probably hide the option.

[2017-07-03 14:17] KariRudjord commented on #79
When I try, there are 2 columns in the margin, and I can't remember I've seen anything else when I have tested, @josteinaj

[2017-07-03 14:32] matskober commented on #36
To be able to adjust the length of the lines is a nice feature, and it
works!

On 3 July 2017 at 15:11, Bert Frees <notifications@github.com> wrote:

[2017-07-03 14:33] josteinaj opened #80 "java.lang.IllegalArgumentException: Volume sizes too uneven: [1, 1]"

[2017-07-03 14:37] josteinaj commented on #68
Test here might be related: https://github.com/nlbdev/pipeline/blob/6c17ab8d52df824ae561e6c791161f9b38a5e311/modules/nlb/book-to-pef/src/test/xprocspec/test_dtbook-to-pef_volume-breaking.xprocspec#L83

[2017-07-03 14:37] josteinaj commented on #80
See test here: https://github.com/nlbdev/pipeline/blob/6c17ab8d52df824ae561e6c791161f9b38a5e311/modules/nlb/book-to-pef/src/test/xprocspec/test_dtbook-to-pef_volume-breaking.xprocspec#L115

[2017-07-03 14:43] josteinaj commented on #79
I'm closing this issue then. Maybe it was just in my imagination :)

[2017-07-03 14:43] #79 closed, assigned to josteinaj, bertfrees

[2017-07-03 14:46] josteinaj commented on #20
Related issues:
- ~~#63~~
- ~~#68~~
- ~~#80~~

[2017-07-03 14:52] bertfrees commented on #68
Don't see how it's related to the test. Or to automatic volume breaking (don't be mislead by the error message).

[2017-07-03 14:55] bertfrees commented on #80
Thanks for the test I'll have a look.

[2017-07-03 15:00] KariRudjord commented on #36
Then it must be me :-) Every time I try, I get Failed. But then I close this!

[2017-07-03 15:00] #36 closed, assigned to josteinaj

[2017-07-03 15:01] bertfrees commented on #68
It looks like the test you referenced is similar to the volume-break-before issue in https://github.com/nlbdev/pipeline/issues/63.

[2017-07-03 15:14] bertfrees commented on #80
I guess you meant this test: https://github.com/nlbdev/pipeline/blob/6c17ab8d52df824ae561e6c791161f9b38a5e311/modules/nlb/book-to-pef/src/test/xprocspec/test_dtbook-to-pef_volume-breaking.xprocspec#L83

[2017-07-03 15:16] bertfrees commented on #68
OK I guess you mixed up the tests. However the [other test](https://github.com/nlbdev/pipeline/blob/6c17ab8d52df824ae561e6c791161f9b38a5e311/modules/nlb/book-to-pef/src/test/xprocspec/test_dtbook-to-pef_volume-breaking.xprocspec#L115) is also not related I think (even thought the error message is the same). I'll have a look.

[2017-07-03 15:28] KariRudjord commented on #75
@bertfrees I tried now, job 513. It works when I try to open "Forhåndsvisning" but not when I open "PEF". Confusing for me, but that means it works. I guess it works to download result as well? I check tomorrow since the server is beeing updated.

[2017-07-03 15:39] bertfrees commented on #75
The reason why the preview can be opened even though the PEF is invalid is because the script does not perform validation on the output PEF. I understand how that can be confusing. I think it would be a good idea to add PEF validation.

[2017-07-03 15:54] bertfrees commented on #80
This error is caused by a `break-before="volume"` on the very first `sequence`. Dotify does not seem to handle that. This is not a problem, just something we have to take into account. I'll make the css-to-obfl conversion omit the `break-before` if it's the first sequence.

[2017-07-03 16:34] matskober commented on #75
I changed the rowgap from 4 to 3, and then I cold open it with e2U. While open I changed the rowgap back to 4 and it looks ok in the eu2 preview.
But I wonder: when single line is rowgap '0', how come we blow it all the way up to rowgap 4?

[2017-07-03 16:37] matskober commented on #75
I mean that rowgap 0 is used when the option is set to single line space, of cores.

[2017-07-03 16:39] bertfrees commented on #75
This is explained in the PEF specification: http://files.pef-format.org/specifications/pef-2008-1/pef-specification.html

![Schematic illustration of dot-to-dot height, row height and row gap](http://files.pef-format.org/specifications/pef-2008-1/images/rendering.jpg)

[2017-07-03 16:53] matskober commented on #75
So today's line space, when single, is due to the "missing" dots 78? E.g. 1/2 d; "dobbel linjeavstand" should then be 1d = rowgap 1? If we set it to rowgap 2 (2d or 1r), it well be similar to todays linespaceing, when "dobbel".

[2017-07-03 17:23] bertfrees commented on #68
@josteinaj The test expects a table-of-contents to be inserted in every volume but the maximum number of sheets per volume is set to "1". This can never work.

[2017-07-03 17:30] bertfrees commented on #75
Not sure these are all questions I can answer. Today's "single" line spacing is indeed due to the missing dots 7 & 8. We would have to increase the line height when we want to have 8-dot braille. I don't know what to say to the other questions, all I know is that there once was the requirement to support "[line spacing between single and double](http://snaekobbi.github.io/requirements/v1.5/index.x

[2017-07-03 18:20] BueVest commented on #74
Hi guys,
The capsnocont opcode has been described in the documentation for very long, mentioning the Norwegian tables as an example of where the rule is used. I remember seeing it already the first time I looked at the documentation.
Also,  One of the Norwegian guys on the liblouis mailing list mentioned it a couple of times on the list. So, when I fixed the opcode, I offered to implement the rule

[2017-07-03 18:32] bertfrees commented on #74
OK thanks for the explanation Bue.

Don't worry you didn't cause any trouble. We know it's very easy to disable the rule. But I still wanted to know about the reasons the rule exists. I guess we should talk to Lars then? I think we should try to come to an agreement with Lars for the sake of uniformity.

[2017-07-03 19:00] bertfrees commented on #75
@KariRudjord Thanks for the test. I see that the boxes "Vis punktskrift-sidenummer" and "Vis original-sidenummer" are both checked, so this means that there will be a footer line with the page numbers. And I am quite sure that double line spacing combined with footers has never worked before.

[2017-07-03 22:49] matskober commented on #78
No, here it starts at page 0 - and it is a introduction chapter,or something, from the frontmatter of the DTBook, that is without any braille page number.
[results (2).zip](https://github.com/nlbdev/pipeline/files/1120674/results.2.zip)

[2017-07-04 07:37] josteinaj commented on #68
Ok, I see. I'll try increasing the volume size. Thanks!

[2017-07-04 09:27] KariRudjord commented on #75
I wasn't aware of that, @bertfrees Is it possible to fix within this sprint? It's not good for us to produce double line spacing without page numbers. I now remember that it has been an issue before. Unfortunately I then missed the word "footer", I thought it ment "foot notes", which probably never will happen. Isn't this a problem for all the countries?

[2017-07-04 09:36] bertfrees commented on #78
That introduction chapter from the DTBook frontmatter is indeed added to the frontmatter of the volume. This was probably done to get the current page numbering behavior. It could be added to the volume bodymatter instead, that's not a problem.

I don't see any page 0 anymore in your example. I thought I fixed that (https://github.com/nlbdev/pipeline/issues/56).

[2017-07-04 09:51] bertfrees commented on #75
No one else uses double line spacing at the moment, except Celia but as far as I know they don't have an issue.

I have asked Joel what the status of the issue is and offered to help if needed.

[2017-07-04 10:11] matskober commented on #78
page 0 seems to be gone, yes :)

[2017-07-04 10:18] josteinaj commented on #68
I've updated the volume breaking tests. The tests now uses 4 sheets. I've also added a `-obfl-keep` rule to try to avoid splitting inside chapters (when inside parts) when possible.

Test here: https://github.com/nlbdev/pipeline/blob/4ec46030c0b2cde7b681e57ac9619805db09fec2/modules/nlb/book-to-pef/src/test/xprocspec/test_dtbook-to-pef_volume-breaking.xprocspec#L115

The error below occurs only whe

[2017-07-04 10:34] bertfrees commented on #26
I have see in the default CSS that there is supposed to be a fallback mechanism for notes, i.e.: first try footnotes, and if they don't fit in the footnotes area, fall back to endnotes. However it was not implemented correctly. Endnotes were implemented [here](https://github.com/nlbdev/pipeline-mod-nlb/commit/94e20fa), footnotes [here](https://github.com/nlbdev/pipeline-mod-nlb/commit/4e5fcc6) but

[2017-07-04 10:37] KariRudjord commented on #26
Make option for foot notes and book notes (in end of entire book) and volume end notes as standard. @bertfrees

[2017-07-04 10:37] bertfrees commented on #26
@KariRudjord Adding a heading "Fotnoter" to the notes sections of volumes is possible, however there is one issue: when a volume does not have any notes, there will be a heading but no notes. Is this a problem?

[2017-07-04 10:38] bertfrees commented on #26
@KariRudjord What should be the text for the notes option (in Norwegian)?

[2017-07-04 10:41] bertfrees commented on #68
Thanks.

[2017-07-04 10:53] KariRudjord commented on #26
Noter nederst på side
Noter bak i hefte (default)
Noter bak i boken

When I choose "Inkluder noter" false  (to leave out notes in a production), the note ref is still in the text and in the end of volume there are the headline "Fotnoter" but no notes, but on the next page there are notes. I is quite strange, @bertfrees . Job 527

[2017-07-04 11:09] josteinaj commented on #71
I think this is how it works now already?

@KariRudjord @matskober can you confirm?

[2017-07-04 11:11] josteinaj commented on #62
@matskober is this still an issue?

[2017-07-04 11:12] josteinaj commented on #61
@matskober could you provide a short example?

[2017-07-04 11:14] josteinaj commented on #60
This is a duplicate of #72 actually.

[2017-07-04 11:14] #60 closed, assigned to usama49, KariRudjord

[2017-07-04 11:15] josteinaj commented on #57
@matskober @KariRudjord what do you think?

[2017-07-04 11:17] josteinaj commented on #55
@matskober @KariRudjord is this an important issue or can we postpone this until later?

[2017-07-04 11:36] bertfrees commented on #26
The `include-notes` option was implemented [here](https://github.com/nlbdev/pipeline-mod-nlb/commit/5ce88d0). It looks a bit strange. I can fix it but what exactly is it supposed to do? Why was it called "include-note-references" before? It was renamed to "include-notes" while it is still simply passed on to the generic script as "include-note-references" ([here](https://github.com/nlbdev/pipeline

[2017-07-04 11:48] josteinaj commented on #48
@KariRudjord @matskober should page size be 32 rows x 28 columns? Now it's 30x28 I think.

[2017-07-04 11:50] josteinaj commented on #46
duplicate of #14

[2017-07-04 11:50] #46 closed, assigned to usama49, KariRudjord

[2017-07-04 11:58] KariRudjord commented on #48
It must include margins and header/footer. 28 rows and 30 cells is for the text @josteinaj

[2017-07-04 12:01] josteinaj commented on #45
Links to table CSS from other snaekobbi participants:

- [Generic tables](https://github.com/daisy/pipeline-mod-braille/blob/develop/pipeline-braille-scripts/dtbook-to-pef/src/main/resources/css/default.css#L54)
- [SBS tables](https://github.com/sbsdev/pipeline/blob/sbs/modules/sbs/braille/src/main/resources/css/default.scss#L1012)
- [Celia tables](https://github.com/celiafi/pipeline-mod-celia/blo

[2017-07-04 12:02] josteinaj commented on #8
Closely related: #45

[2017-07-04 12:04] josteinaj commented on #32
Closely related (duplicate?): #55
Closely related: #51

[2017-07-04 12:04] matskober commented on #57
No strong opinion on the subject, but to me it seems natural to keep the
"Om *punktskrift*boka" separate form the book's content. If the toc we are
talking about replaces the print book toc, the generated  toc will seem
more integrated in the book than the "Om *punktskrift*boka". Therefor I
suggest that we put the "Om *punktskrift*boka" at the back of the front
page of the first volume, and the to

[2017-07-04 12:06] matskober commented on #62
I believe this an NorBraille/DTBook issue mostly. So no.

On 4 July 2017 at 12:11, Jostein Austvik Jacobsen <notifications@github.com>
wrote:

[2017-07-04 12:11] josteinaj commented on #26
We probably renamed it to better reflect what it actually does. We could rename it back (keeping the nicename), or rename/remove it in the generic script. Either way is fine for us.

In the CSS, the `include-note-references` only affects the actual notes, not the note references. I'll have a look at the note/noteref CSS.

[2017-07-04 12:15] bertfrees commented on #26
Removing it in the generic script is easiest I think.

I'm also working on the CSS now, to implement the note section title and the notes-placement option.

[2017-07-04 12:16] KariRudjord commented on #55
We've just talked about it, @josteinaj. We would like to get it fixed. If it is something that involve Bert, we should do it now. If not, it can wait.

[2017-07-04 12:18] josteinaj commented on #26
Oh, ok. I'll wait a bit with the notes CSS then (haven't done much yet anyway).

[2017-07-04 14:01] matskober opened #81 "New front page?"
Is this possible? @bertfrees @josteinaj @usama49 @KariRudjord
[new_front_page.zip](https://github.com/nlbdev/pipeline/files/1122300/new_front_page.zip)

[2017-07-04 14:01] bertfrees commented on #26
Never mind, this is not true. There is no issue.

[2017-07-04 14:15] matskober commented on #81
They good thing about this is that we can present more relevant metadata, and we can move the colophon to the back of the book - where we will find in it most commercial epubs. Also, it makes more sense to represent the print book title page, with the volume front page not looking as a copycat.

[2017-07-04 14:44] bertfrees commented on #26
I have committed some changes to the CSS. @josteinaj could you plean have a quick look and see if I got it right?

[2017-07-04 15:06] josteinaj commented on #63
With `level1:not(.part), level1.part > level2 { volume-break-inside: -obfl-keep(8); }`, the tests with tables started failing with `Processing terminated by xsl:message at line 2065 in css-to-obfl.xsl`. There's not yet any good table CSS (awaiting #8 and #45), the current CSS just sets the table to be displayed as a block. So maybe that block gets too big and the system struggles with finding a go

[2017-07-04 15:18] josteinaj commented on #63
see pending tests in 9553b9dff9315caf53a2c423aadd2429d7a406f2

[2017-07-05 08:21] #56 closed, assigned to bertfrees

[2017-07-05 08:23] josteinaj commented on #59
I'm closing this as it's unclear what the difference is from #78 and it may have already be fixed in #56. The discussion can continue on #78 if needed.

[2017-07-05 08:23] #59 closed, assigned to bertfrees

[2017-07-05 08:24] josteinaj commented on #78
@matskober so does page numbering work in a good (or at least acceptable) way now?

[2017-07-05 08:57] bertfrees commented on #78
I have not implemented what Mats suggested [above](https://github.com/nlbdev/pipeline/issues/78#issuecomment-312601237) yet.

[2017-07-05 09:35] #38 closed, assigned to josteinaj

[2017-07-05 14:23] josteinaj commented on #48
Ok. In the PEFs we produce with NorBraille I see volumes are declared like this, so I suppose we should increase the default number of columns from 30 to 32:

[code]

[2017-07-05 14:26] josteinaj commented on #55
I believe this is something we don't need help to do ourselves.

[2017-07-06 08:21] josteinaj opened #82 "Move original colophon to end of rearmatter"
For DTBook, extract `<level1 class="colophon">`, for EPUB, extract `<body epub:type="colophon">`, and move to the end of the book (end of `<rearmatter>` for DTBook, and equivalent for EPUB).

If there's no headline, insert `<h1>Kolofon</h1>` for norwegian books and `<h1>Colophon</h1>` for english books (at the top of the `<level>`/`<body>`).

Do this as part of pre-processing. The colophon here re

[2017-07-06 11:22] josteinaj commented on #63
@bertfrees I tried with your latest commits. I see you enabled the table-related non-volume-breaking tests that previously failed and they are working now. I'm still getting an error when using `-obfl-keep` in the small/medium/big volume breaking test though.

At first I got some output, but I had to add/remove paragraphs for the tests to be correct, and then they started throwing errors again.

U

[2017-07-06 11:25] josteinaj commented on #63
Note: commenting out this line gets rid of the error but volumes would then not be divided in a good way:

https://github.com/nlbdev/pipeline/blob/dc406601e0f1dd897830aae389f1884039763333/modules/nlb/book-to-pef/src/main/resources/css/nlb-default.scss#L113

[code]

[2017-07-06 11:32] KariRudjord commented on #57
Etter en liten samtale har Mats og jeg kommet fram til rekkefølgen Tittelside, Om boka, TOC. Tror ikke noe er endret her, hvis dere ikke har gjort noe denne uka, @josteinaj Skal jeg teste og sjekke?

[2017-07-06 12:14] bertfrees commented on #63
Thanks, I'll have a look.

[2017-07-06 12:16] matskober commented on #78
[results (4).zip](https://github.com/nlbdev/pipeline/files/1127768/results.4.zip)
The id="level1_3" in frontmatter is missing braille page number

[2017-07-06 12:17] matskober commented on #27
Toc listings has to much line space
[results (4).zip](https://github.com/nlbdev/pipeline/files/1127786/results.4.zip)

[2017-07-06 12:22] matskober opened #83 "CSS; tekst elements from DTBook frontmatter get to short lines"
[results (4).zip](https://github.com/nlbdev/pipeline/files/1127796/results.4.zip)

[2017-07-06 12:32] matskober opened #84 "still counting from 1 on new section?"
<img width="331" alt="still counting sections from 1" src="https://user-images.githubusercontent.com/8014898/27910974-55c37f36-624f-11e7-98f3-746648112e3d.PNG">
[results (5).zip](https://github.com/nlbdev/pipeline/files/1127823/results.5.zip)
@josteinaj @bertfrees

[2017-07-06 12:38] bertfrees commented on #84
There haven't been any changes to the layout since https://github.com/nlbdev/pipeline/issues/78#issuecomment-313044387.

[2017-07-06 13:02] #70 closed, assigned to nobody

[2017-07-06 13:08] josteinaj commented on #27
Ok. Otherwise it looks ok?

[2017-07-06 13:09] josteinaj commented on #28
Duplicate of #45

[2017-07-06 13:09] #28 closed, assigned to KariRudjord

[2017-07-06 13:10] josteinaj commented on #15
@matskober is the terminology in the script correct? sheets/pages, hefter/sider, in the script options?

[2017-07-06 13:16] josteinaj commented on #48
The page dimensions have been updated now. Also the margins. Ready to test.

[2017-07-06 13:19] #39 closed, assigned to josteinaj

[2017-07-06 13:50] josteinaj commented on #30
I'm unlikely to make this happen during the next couple of days. Moving it into the backlog.

[2017-07-06 13:56] josteinaj commented on #62
Ok, then I'm closing it.

[2017-07-06 13:56] #62 closed, assigned to josteinaj, usama49

[2017-07-06 14:10] #80 closed, assigned to bertfrees

[2017-07-06 14:16] josteinaj commented on #43
I don't think we need this issue. We probably need to do some preprocessing, but we'll discuss that on a per-issue basis.

[2017-07-06 14:16] #43 closed, assigned to usama49, matskober, KariRudjord

[2017-07-06 14:24] josteinaj commented on #18
The system seems quite stable, from the testing we've done over the last 8 days. For this sprint we're quite happy with the stability so I'm closing this.

[2017-07-06 14:24] #18 closed, assigned to bertfrees

[2017-07-06 14:25] josteinaj commented on #17
I don't know if the shift-id fix is included or not but we're very happy with the performance improvements so I'm closing this issue.

[2017-07-06 14:25] #17 closed, assigned to bertfrees

[2017-07-06 14:27] josteinaj commented on #13
@KariRudjord @matskober Have you observed any working / non-working examples of hyphenation in your tests? Could we safely say that hyphenation is working well now?

[2017-07-06 14:28] bertfrees commented on #17
It's not included.

[2017-07-06 14:31] josteinaj commented on #17
Ok, good to know.

[2017-07-06 14:42] josteinaj commented on #58
@matskober Is this a problem or more of a question for curiositys sake?

[2017-07-06 14:44] josteinaj commented on #47
@KariRudjord this can be tested now

[2017-07-06 14:49] matskober commented on #71
Not sure what to test here: TOC is generated regardless of a print toc. That's how Kari wants it, I believe.

[2017-07-06 15:02] matskober commented on #48
This works.

[2017-07-06 15:02] #48 closed, assigned to matskober, KariRudjord

[2017-07-06 15:08] matskober commented on #27
Yes it looks ok. (If anything, the left margin cold be smaller.)

[2017-07-06 15:33] matskober commented on #15
I thought pages where sufficient; why do we need sheets at all? (Is not the pef supposed to printer neutral; if not the only (paper) sheets relevant is 4 pages pr sheet - that's what NbFT uses.)

[2017-07-06 15:39] bertfrees commented on #15
CSS and OBFL think in terms of sheets, so if you want pages this number needs to be divided by 2 internally (see also my comment above).

[2017-07-06 15:56] bertfrees commented on #63
@josteinaj I pushed a fix.

[2017-07-07 08:19] KariRudjord commented on #71
When I try 560475, a book without headings, the only output I get is Title page and Om boka. The rest is empty pages and look strange. Job 567 @josteinaj and @matskober

[2017-07-07 08:39] josteinaj commented on #27
Ok good. We have an issue for the margins here: #52 so I'm closing this on.

[2017-07-07 08:39] #27 closed, assigned to matskober, KariRudjord

[2017-07-07 08:44] josteinaj commented on #15
Currently it looks like this:

![sheets-pages-option](https://user-images.githubusercontent.com/295481/27950234-d771e200-6300-11e7-8112-905d7da0b439.png)

So the option name refers to pages, but the description refers to sheets.

[2017-07-07 08:44] josteinaj commented on #63
Great! I will test some more.

[2017-07-07 08:48] josteinaj commented on #71
I just updated Pipeline 2 so the job results from your job is gone. I tried running your job again, and I got all the content in the book, not only title page and om boka. I don't know why the bodymatter disappeared for you (if I understand correctly), but maybe you can try again now and see if it still happens?

[2017-07-07 08:58] bertfrees commented on #15
Ideally you should create a new option (different name and description).

[2017-07-07 09:24] KariRudjord commented on #5
Right, @josteinaj and @bertfrees it is not working when there is a space before the ellipse. A no-break space would be nice!

A quote shall always stand together with the word, and it works fine!!

[2017-07-07 09:46] josteinaj commented on #63
The "*with parts: fit small chapters in same volume, medium chapters in separate volume, and big chapters in multiple volumes*"-test still gives the error in #68. I suppose this issue and #68 are the same issue. Here's the latest exception I get (as of b8f8b717a33b676825e2a0f4201456605b52e5de by enabling the pending volume breaking test):

[code]

[2017-07-07 09:51] josteinaj commented on #63
Instead of removing the `-obfl-keep` rule, increasing the `maximum-number-of-sheets` also gets rid of the error. But since it works with `maximum-number-of-sheets = 4` without the `-obfl-keep` rule, I would expect it should work *with* the `-obfl-keep` rule as well.

[2017-07-07 10:29] josteinaj commented on #5
Ok, thanks. We'll fix this during pre-processing later.

[2017-07-07 11:03] KariRudjord commented on #52
Det vil si at det ikke blir mellomrom mellom linjene i TOC'en, @josteinaj ? Slik det er nå, tar TOC'en mye plass pga mellomrommene.

[2017-07-07 11:30] matskober commented on #71
There is no TOC generated, neither at the first volume nor the following volumes
[results (6).zip](https://github.com/nlbdev/pipeline/files/1130830/results.6.zip)

[2017-07-07 11:34] matskober commented on #37
Don't know if this is relevant; I raised the question initially because I assumed it would be possible - but I don't know if it is something that is needed.

[2017-07-07 11:59] josteinaj opened #85 "Frontpage is inserted only when docauthor is present"
The XSLT currently matches the xpath `frontmatter/docauthor` and inserts a generated level1 after that.

[2017-07-07 12:03] josteinaj commented on #52
Ok. Ja det kan vi fikse.

[2017-07-07 12:04] josteinaj commented on #71
Ok, so does TOC generation behave as we want it now (except for the layout)?

[2017-07-07 12:05] josteinaj commented on #37
Ok. It should work now though, have you tested it?

[2017-07-07 12:21] KariRudjord commented on #65
Slik skal det være i fullskrift:

ccccccccccc (h1)
Om boka
ccccccccccc

Fullskrift.
Punktskriftsidetall midtstilt nederst på siden.
Der sidetall fra utgave i visuell skrift er med, står dette høyrestilt nederst på siden.
Boka skal ikke returneres.
Feil og mangler kan meldes til punkt@nlb.no

Slik skal det være i kortskrift 1:
ccccccccccc (h1)
Om boka
ccccccccccc

Kortskrift nivå 1.
Punktskriftside

[2017-07-07 12:27] matskober commented on #71
[results (8).zip](https://github.com/nlbdev/pipeline/files/1130943/results.8.zip)
@KariRudjord I am not sure what you have decided: If no print toc, still a braille toc? If so, @josteinaj , the toc generator if failing to produce a braille toc, when no print toc is present in dtbook.

[2017-07-07 13:29] matskober commented on #71
<img width="353" alt="toc" src="https://user-images.githubusercontent.com/8014898/27959658-3d137690-6320-11e7-81ac-25c80c334d78.PNG">
[results (9).zip](https://github.com/nlbdev/pipeline/files/1131088/results.9.zip)
Two items get the same page reference in the toc; seems to be counting from 1 both on the section containing the preface and on the section containing chapter 1

[2017-07-07 13:36] bertfrees commented on #71
Is this only in the TOC or also on the corresponding pages?

[2017-07-07 13:45] matskober commented on #61
[results (10).zip](https://github.com/nlbdev/pipeline/files/1131115/results.10.zip)

Tried to address level1, adding 'margin-top: 5;' did not succeed

[2017-07-07 13:48] matskober commented on #71
The preface have no page numbers at all - and a bigger left margin is seems.

[2017-07-07 13:53] matskober commented on #58
Well, both; it seems to me that elements from the DTBook frontmatter, such as a preface, behave wrongly: No page number and wider margins (or a block indent, I don't know)

[2017-07-07 14:12] bertfrees commented on #71
I'll have a closer look.

[2017-07-07 14:38] bertfrees commented on #63
This was because the latest version of Dotify was not picked up by the NLB tests. The test succeeds now.

[2017-07-07 15:24] josteinaj commented on #52
<img width="796" alt="compare_print_toc" src="https://user-images.githubusercontent.com/295481/27964552-f849ca96-6338-11e7-99ff-587db5ac16cd.PNG">

From Slack, @matskober compares EPUB (left) with DTBook (right). The smaller margins used with EPUB is preferable.

[2017-07-07 16:44] josteinaj opened #86 "Avoid volume breaking within paragraphs"
I haven't quite managed to get this working yet. We'll have to fiddle some more with `volume-break-inside: -obfl-keep(...);` and see if we can get it working. I don't know if this will be a problem in real productions or not.

[2017-07-07 16:51] bertfrees commented on #86
This is not supported yet, remember? Joel is working on that feature.

[2017-07-07 16:52] josteinaj commented on #86
Yes I remember, but I thought I could get close with `-obfl-keep`.

[2017-07-07 17:30] bertfrees commented on #86
Right. OK. What you can achieve with this is that the formatter might decide to split after the next sheet or the previous sheet if the current sheet ends in the middle of a paragraph _and if the next or previous doesn't_. But I think in braille chances are pretty low that a paragraph ends exactly at the end of a sheet (even with the `widows` and `orphans` properties) so I'm not sure how much this

[2017-07-10 10:26] matskober commented on #74
Did Lars or Kristin give any feedback on this?

[2017-07-10 11:55] bertfrees commented on #75
Should be fixed now.

[2017-07-10 12:57] bertfrees commented on #71
The page number of the "Kapittel ein" is 1 because of this CSS:

[code]

[2017-07-10 13:04] matskober commented on #71
Yeah, I thought so. Tried to include frontmatter, but it did not seem to work

[2017-07-10 13:18] bertfrees commented on #37
For this to work the comma that is used to separate the style sheets should become a space.

[2017-07-10 13:26] matskober commented on #71
[code]

[2017-07-10 13:27] matskober commented on #71
see job #662

[2017-07-10 13:41] bertfrees commented on #71
This resets the page numbers both when the frontmatter starts *and* when the bodymatter starts. I'm not sure exactly what you want to achieve. Do you want to not reset the page number at all? In that case it is really simple: just remove the `counter-set` rule.

[2017-07-10 15:14] josteinaj opened #87 "remove any <strong> or <em> tags from all-capital words/sentences before converting"
From https://github.com/nlbdev/pipeline/issues/74#issuecomment-312568408

[2017-07-10 15:16] josteinaj commented on #74
Lars requested this rule, but we don't have an explaination for it yet. Don't know if Liv Kristin has given feedback yet.

Anyway, could we agree that whatever we decide, we should use the official liblouis version instead of our own table, and so if we want to remove this rule, we should do it in the liblouis project?

[2017-07-10 15:20] josteinaj commented on #63
I think we can close this issue now. After all of @bertfrees' fixes, volume breaking (including the -obfl-keep rules) seems to work pretty well.

[2017-07-10 15:20] #63 closed, assigned to bertfrees

[2017-07-10 15:22] josteinaj commented on #20
I think we can close this issue now. After all of @bertfrees' fixes, volume breaking seems to work pretty well now. We'll still have to fine-tune how it works using CSS and some pre-processing, but we're quite happy with how volume breaking works now.

[2017-07-10 15:22] #20 closed, assigned to bertfrees

[2017-07-10 15:24] josteinaj commented on #68
I think we can close this issue now. After all of @bertfrees' fixes, volume breaking seems to work pretty well.

[2017-07-10 15:24] #68 closed, assigned to josteinaj, bertfrees

[2017-07-10 15:24] josteinaj commented on #58
Do we need to do anything here?

[2017-07-11 09:47] josteinaj opened #88 "Avoid orphaned headlines (headline at the end of a volume)"
Example:

[code]

Here, the h1 and p has a tendency to end up in the volume before level2.

[2017-07-11 11:13] josteinaj commented on #65
This colophon, as well as the titlepage, should probably be uncontracted.

[2017-07-11 11:14] josteinaj commented on #58
I'm closing this. I don't think it's a problem but we can open it again later if it is.

[2017-07-11 11:14] #58 closed, assigned to bertfrees, matskober

[2017-07-11 12:17] josteinaj opened #89 "Unable to use force-norwegian=false together with text-transform: uncontracted;"

[2017-07-14 12:30] matskober opened #90 "CSS: braille page number; counter set"
[code]

@usama49 : Could you look in to this?

The braille page number now starts counting 1 at the front page of each volume (this is not as it should be.), and at 1 on the first element in the DTBook's bodymatter (this counting runs thru out all volumes - only the generated pages in the beginning of each volume - as it shall).

The braille page number 1 should appear at the bottom of the first n

[2017-07-28 12:13] bertfrees opened #91 "Make -obfl-keep-with-next-sheets work across sequences"
See [nlb-default.scss#L226](https://github.com/nlbdev/pipeline/blob/4e5a8ed/modules/nlb/book-to-pef/src/main/resources/css/nlb-default.scss#L226).

[2017-08-14 11:45] matskober opened #92 "Letters become numers"
@josteinaj @usama49 @KariRudjord ⠀⠀⠀⠀⠀⠀
[job#700.zip](https://github.com/nlbdev/pipeline/files/1222071/job.700.zip)

The second sentence in this novel comes out all wrong; The 'J' in 'Jeg vet ikke...' is translated to number 6 (⠼⠋) !

Also, elements from the DTBook frontmatter, is represented twice @josteinaj @usama49 @josteinaj
⠀⠀
[code]

[code]

Weird braille also in generated text, again letter

[2017-08-14 13:22] josteinaj commented on #92
That's strange. I'll try to reproduce it when I get the time.

[2017-08-15 11:32] josteinaj commented on #13
We have several automated tests, and hyphenation seems to happen as expected during conversion of books in practice. We could do more testing with different words etc, but I doubt we'll actually have time to do that. Let's instead revisit hyphenation if we discover problems later.

[2017-08-15 11:40] bertfrees commented on #13
I'm still not sure about the substrings thing. Do you at least test that all the words from [words.txt](https://github.com/nlbdev/pipeline/blob/nlb/modules/nlb/book-to-pef/src/main/resources/hyph/hyph_nb_NO_standard_dictionary/words.txt?raw=true) are hyphenated correctly?

[2017-08-15 11:42] bertfrees commented on #13
Should be quite straightforward to add such a test.

[2017-08-15 11:43] josteinaj commented on #13
I don't think we automatically test them all, no.

So the worry is that some of the non-standard hyphenation rules may break some of the standard hyphenation rules?

[2017-08-15 11:46] bertfrees commented on #13
The worry is that the as far as I know required "substrings.pl" step is not performed.

[2017-08-15 11:47] josteinaj commented on #13
Ok, I'll change this issue to be about automatic testing and reopen it.

[2017-08-15 11:51] bertfrees commented on #13
You say you removed the step because "[it merges standard and non-standard hyphenation rules which for some reason causes problems](https://github.com/nlbdev/pipeline-mod-nlb/commit/ed0275a686f7369f84387741522518451e3ac7dc)". But instead of removing it altogether you might get better results if you just move it in front of the step that concats hyph_nb_NO_standard.pat and hyph_nb_NO_nonstandard.pa

[2017-08-15 12:29] josteinaj commented on #13
Ok, I'll try that (when I get around to it).

[2017-08-25 11:55] matskober commented on #75
[results (14).zip](https://github.com/nlbdev/pipeline/files/1251744/results.14.zip)
Job #745. Tested double linespacing on DTBook. Seems to work on bodymatter, but not on frontmatter.
@KariRudjord @josteinaj @usama49

[2017-08-25 12:24] matskober commented on #47
[results (15).zip](https://github.com/nlbdev/pipeline/files/1251823/results.15.zip)
Job #746
Tested "billedbeskrivelse" before img's alt="" - it is working.
@KariRudjord @josteinaj @usama49

[2017-08-25 13:00] matskober opened #93 "DTBook frontmatter is duplicated"
@josteinaj @usama49 @KariRudjord <img width="317" alt="twice" src="https://user-images.githubusercontent.com/8014898/29714870-e8e6dc30-899c-11e7-8304-7806d69f02d4.PNG">
  ,
[results (15).zip](https://github.com/nlbdev/pipeline/files/1251884/results.15.zip)

[2017-08-25 13:06] matskober commented on #93
This job, Job #746, also show that increased line spacing do not work on frontmatter. And that the margins are the double of what they should.

[2017-08-25 17:16] matskober commented on #15
I'm confused by this issue; I have asked @bertfrees about this earlier - he said that the number inserted was referring to sheets. (In the sense that one sheet is two pages, a front page and a back page.) But to me it seems more appropriate to only talk about pages, not sheets. The need to control a page's appearance in the volume, e.g. whether it's a right hand or left hand page (or an odd- or  e

[2017-09-22 08:00] josteinaj opened #94 "make description of `force-norwegian` option collapsed in webui"
i.e. move stuff into "Show details"

[2017-09-22 10:47] KariRudjord commented on #54
Testet with danish, swedish, german, greek and english.
The test will only pass through with norwegian and english, but it will not open either in preview or PEF.

Could not find result: http://localhost:8181/ws/jobs/9670f689-3b4e-4d9a-bca8-baa6c80852de/result/option/preview-output-dir/idx/preview-output-dir/spr%C3%A5ktest.pef.html

[2017-09-22 10:51] josteinaj commented on #54
The resulting file has the name `spr├еktest.pef.html` instead of `språktest.html`, so something is wrong with the character encoding.

Created issue: daisy/pipeline-webui#112

[2017-09-22 11:22] KariRudjord commented on #54
I was not aware of the å problem, it passed with an a in file name. It seems to be norwegian braille code even when using <p xml:lang="en">

[2017-09-26 12:28] josteinaj opened #95 "AbstractMethodError in dotify-formatter or dotify-common"
As of:  nlbdev/pipeline@bf899902605184d574827dc701e1f2e774b11f53 (branch `fix-nordic-migrator.new`)

In maven.log:
[code]

[code]

[maven.log](https://github.com/nlbdev/pipeline/files/1333085/maven.log.txt)

[modules/nlb/book-to-pef/target/test.log](https://github.com/nlbdev/pipeline/files/1333095/test.log.txt)

@bertfrees: ideas?

[2017-09-26 12:46] bertfrees commented on #95
Joel has updated some Dotify bundles to the latest version, dotify.common being one of them. Could have to do with that.

[2017-09-26 13:25] josteinaj opened #96 "Problem with hebrew braille"
from @matskober:

[2017-09-27 13:33] josteinaj commented on #95
@joeha480 does the exception above ring any bell?

[2017-09-27 13:36] josteinaj commented on #95
@bertfrees btw, I'm getting an error about modules/braille again, don't think it was there earlier:

[code]

Not sure if it matters...

[2017-09-27 13:45] bertfrees commented on #95
Oh right, I was gonna look at this error.

Regarding the subrepo error: sorry I thought I had pushed it, but maybe it was rejected. Now it is pushed.

[2017-09-27 13:54] josteinaj commented on #95
Ok, thanks. I had to do a `git fetch --quiet git@github.com:daisy/pipeline-mod-braille.git super/nlb`, but that's fine.

[2017-09-27 18:25] bertfrees commented on #95
I have reverted the Dotify update on the NLB branch. Like I suspected there is indeed some incompatibility between the latest dotify.common and the NLB branch of dotify.formatter.impl. This also means that one of the PRs https://github.com/brailleapps/dotify.formatter.impl/pull/29 or https://github.com/brailleapps/dotify.formatter.impl/pull/28 has a problem when combined with the latest dotify.com

[2017-09-28 09:29] josteinaj commented on #95
Thanks! It works locally (haven't got the build working on Jenkins yet but I assume this won't be an issue there).

[2017-09-28 09:29] #95 closed, assigned to nobody

[2017-09-28 14:02] matskober opened #97 "Ensure that page numbering works the same way in both DTBook and EPUB3"
I produced the same title both as DTbook to pef (job951) and EPUB3 to pef (job952). Only adjustment done, was setting max sheets to 35.  When using EPUB3, the braille page number starts again (at 1) in every volume.

@josteinaj @bertfrees @usama49 @KariRudjord
[job952.zip](https://github.com/nlbdev/pipeline/files/1340807/job952.zip)
[job951.zip](https://github.com/nlbdev/pipeline/files/1340808/job

[2017-09-28 16:06] #93 closed, assigned to josteinaj

[2017-09-29 08:40] KariRudjord commented on #96
Hebrew braille is not prioritized.

[2017-09-29 09:28] josteinaj commented on #1
This is now fixed and merged to the `nlb` branch as of 495e22928d397ad4c698aaf25d7fd39b19ec4ccc.

[2017-09-29 09:28] #1 closed, assigned to josteinaj

[2017-09-29 11:01] matskober commented on #96
OK; NLBs prioriteringer skal jeg ikke blande meg inn i! Jeg driver og lærer
meg hebraisk, så siden jeg hadde  lagt merke til at hebraisk var del av den
norske liblouis tabellen, og fordi det var et issue med innskuttet
sekvenser på avvikende språk / tospråklige braillebøker, fant jeg det
interessant og relevant.

Mats

On 29 September 2017 at 09:40, KariRudjord <notifications@github.com> wrote:

[2017-09-29 12:28] josteinaj commented on #96
Hebraiske tegn ser ut til å være definert i den norske 8-punktstabellen. Så dette er nok ikke hebraisk punktstandard, men hebraiske tegn i følge norsk punktstandard:
https://github.com/liblouis/liblouis/blob/275b28883c49aa691306430549a17be781fe360e/tables/no-no-8dot.utb#L334

Standarden dette er hentet fra er den norske punkttabellen for JAWS fra 2011: https://github.com/liblouis/braille-specs/tre

[2017-09-29 12:28] #96 closed, assigned to nobody

[2017-09-29 12:46] matskober opened #98 "New table for Old West Norse ("norrønt") or Old Norwegian ("gammelnorsk")"
[job972.zip](https://github.com/nlbdev/pipeline/files/1344349/job972.zip)

I put the norse alphabet in a p (in a file with "dc:Language" content="no"), and once more in a p with
 xml:lang="non" ( that is the code for norse, right?). Both p-s where rendered equally ; both seem to be wrong - according to OUPs Håndbok.

@josteinaj @KariRudjord @bertfrees @usama49

[2017-09-29 13:39] josteinaj commented on #98
Thanks. We have an issue for adding tables for more languages (including norse) here: #54

The languge code for norse won't do anything. But we do have letters in the norwegian table to cover most norse characters:
https://github.com/liblouis/liblouis/blob/master/tables/no-no-chardefs6.uti#L169

We do at least have eth and thorn in our table:
[code]

In the cases where sami letters are in conflict

[2017-09-29 13:40] josteinaj commented on #98
By the way, here are the liblouis tests for norse:

https://github.com/liblouis/liblouis/blob/master/tests/yaml/no_harness.yaml#L40

It's a failing test, but shows how the mapping is supposed to be. The mapping should be put into a separate liblouis table in the future.

[2017-09-29 13:47] josteinaj opened #99 "Change text about notes placement in generated content if notes use fallback mechanism"
depends on: brailleapps/dotify#200

see also: #26

[2017-09-29 13:52] josteinaj commented on #99
see: https://github.com/nlbdev/pipeline/commit/6c8182a3533630ed23829c8f0e710dbc774db352#diff-30bed55a41a1fc6670a9bb1b1923e573R631

[2017-10-02 16:16] josteinaj commented on #81
From @KariRudjord:

[code]

Om boka
Fullskrift./Kortskrift 1./Kortskrift 2./Kortskrift 3. (OK) Easy to move this to the front page? It has to change with choice of option. If not, it should remain here.
Noter er plassert bakerst i hefte./Noter er plassert bakerst i boka./Noter er plassert nederst på siden. (not added, should follow option selected in Web UI)
Totalt antall sider: xx. (Not working.

[2017-10-02 16:20] KariRudjord commented on #81
Det der burde jeg jo gjort selv. Er lov å kjefte på meg i blant ☺

Fra: Jostein Austvik Jacobsen [mailto:notifications@github.com]
Sendt: 2. oktober 2017 18:17
Til: nlbdev/pipeline <pipeline@noreply.github.com>
Kopi: Kari Rudjord <Kari.Rudjord@nlb.no>; Mention <mention@noreply.github.com>
Emne: Re: [nlbdev/pipeline] New front page? (#81)

 1. <row>                                </row>

 2. <row>

[2017-10-03 01:02] josteinaj commented on #81
Nei nei, ikke noe problem :)

[2017-10-03 09:22] matskober commented on #81
Hva skjer hvis forfatter nummer en har et langt navn, som Kjersti
Annesdatter Skomsvold, f.eks?

Skal det være "Fornavn Etternavn" eller "Etternavn, Fornavn"?

Mats

On 3 October 2017 at 02:02, Jostein Austvik Jacobsen <
notifications@github.com> wrote:

[2017-10-03 09:39] josteinaj commented on #81
"Kjersti Annesdatter Skomsvold" ville akkurat passet inn på en linje om vi ikke hadde hatt marger tror jeg (32 celler), men ja, vi trenger noen regler for hva vi gjør med lange navn. For eksempel:

- hvis det er 2 eller flere forfattere, forkort hvert navn inntil hvert navn får plass på 1 linje
- hvis det er kun 1 forfatter, forkort navnet inntil det får plass på 3 linjer

forkorting (fra toppen,

[2017-10-03 10:11] KariRudjord commented on #81
Det fungerer bra som vi har det i NorBraille, synes jeg. Forkortninger er ikke noe særlig med mindre det står forkortet i originalen.  Fornavn - ev mellomnavn - etternavn, ingen komma. Dersom navn strekker seg over en linje, flyttes siste ord, altså etternavn ned en linje, også dette midtstilt.

![image](https://user-images.githubusercontent.com/12409918/31120244-ffa9c38c-a833-11e7-8279-f2ec738372

[2017-10-03 10:33] matskober commented on #81
OK; poenget mitt var at midtstilling ikke er optimalt. Men det er kanskje
en smaksak. Husker at argumentasjonen for å droppe forlag på forsiden, var
at den informasjonen var tilgjengelig i kolofonen på side 2. Hvis
kolofonene flyttes bak i boka, som jeg synes er en god ide, burde kanskje
forlag angis på forsiden?

2017-10-03 11:11 GMT+01:00 KariRudjord <notifications@github.com>:

[2017-10-03 10:55] KariRudjord commented on #81
Ville først ha forlaget med på tittelbladet, men i følge de layoutføringene som finnes, skal tittelbladet ha mye luft så det blir lett å orientere seg og finne frem, så jeg har flyttet det til Om boka. Om det er merket opp slik at vi får det til, er en annen sak. Forhåpentligvis kan vi hente det fra metadata. Samme problemstilling gjelder originaltittel.

PS. Hvem er nlbbot, er det ditt nye alias,

[2017-10-03 11:01] josteinaj commented on #81
nlbbot er meg :stuck_out_tongue:. Det er en konto knyttet til min e-postadresse, og den dukket opp nå som jeg svarte på e-posten istedenfor å kommentere rett i github.

[2017-10-04 15:44] josteinaj opened #100 "Release nordic migrator"
- [x] create upstream PR for changes in file-utils: [daisy/pipeline-modules-common](https://github.com/daisy/pipeline-modules-common) or [daisy/pipeline](https://github.com/daisy/pipeline)
  upstream PR: https://github.com/daisy/pipeline-modules-common/pull/103
- [x] create upstream PR for changes in nordic migrator in [nlbdev/nordic-epub3-dtbook-migrator](https://github.com/nlbdev/nordic-epub3-dt

[2017-10-09 08:54] KariRudjord commented on #81
Title page shall be like described by me above. If name is too long to fit in a row, the last name shall be moved to the next line (no hyphenation on title page). Great if it is possible to make it generic - always to open lines between author - title - translater. But "NLB - År" ("Fullskrift/Kortskrift 1/Kortskrift 2/Kortskrift 3" if this is easy to move to frontpage) and "Hefte 1 av 5" should al

[2017-10-09 08:56] #64 closed, assigned to matskober, KariRudjord

[2017-10-09 09:15] josteinaj commented on #81
Ok, thanks. I'm working on it and have something that mostly works now, but it's not quite done yet. Will let you know when it's ready for testing.

[2017-10-09 09:51] josteinaj commented on #40
@KariRudjord english braille works now, right? It respects the `xml:lang="en"`? So we can close this one?

[2017-10-09 09:52] #47 closed, assigned to KariRudjord

[2017-10-09 11:36] bertfrees commented on #45
I'm gonna need some requirements and tests before I can implement this.

[2017-10-09 11:41] josteinaj commented on #45
Ok. Since we don't have this today, we don't have an expected output ready. Would it be possible for you to provide an initial suggestion, and then @KariRudjord can say if it looks fine or needs adjustments?

[2017-10-09 11:43] bertfrees commented on #45
Ok.

[2017-10-09 11:46] josteinaj opened #101 "New table for sami languages"
Might not be needed. Maybe it's fine to use the same table for both norwegian and sami. Nevertheless, adding as an issue so that we remember it and can discuss it in the future.

[2017-10-09 12:01] #73 closed, assigned to KariRudjord

[2017-10-09 12:04] josteinaj commented on #76
@KariRudjord you didn't put this as a requirement in https://github.com/nlbdev/pipeline/issues/81#issuecomment-333584542. Would you like to have "Ingen sidetall fra visuell utgave" in "Om boken" as in Mats' suggestion?

[2017-10-09 12:15] josteinaj commented on #84
closing as duplicate of #78

[2017-10-09 12:15] #84 closed, assigned to josteinaj

[2017-10-09 12:17] josteinaj commented on #83
I believe this was fixed as part of #93, where fronmatter had bigger margins than bodymatter.

[2017-10-09 12:17] #83 closed, assigned to josteinaj, usama49

[2017-10-09 12:20] josteinaj commented on #88
See pending test here: https://github.com/nlbdev/pipeline/blob/5011f451edd65e13f8835a28e450375fa0d9ed4b/modules/nlb/book-to-pef/src/test/xprocspec/test_dtbook-to-pef_volume-breaking.xprocspec#L758

[2017-10-09 12:24] josteinaj commented on #90
Closing and moving comments to #78

[2017-10-09 12:24] #90 closed, assigned to nobody

[2017-10-09 12:25] josteinaj commented on #78
Moving comment from duplicate issue #90 here:

from @matskober:

[code]

@usama49 : Could you look in to this?

The braille page number now starts counting 1 at the front page of each volume (this is not as it should be.), and at 1 on the first element in the DTBook's bodymatter (this counting runs thru out all volumes - only the generated pages in the beginning of each volume - as it shall).

The

[2017-10-09 12:29] josteinaj commented on #89
pending regression test added in 612c0ea88d7734ca6f467d583d41f7b788881fed

[2017-10-09 13:14] josteinaj opened #102 "Various element margins etc."
- **`<img alt="">`** (image description): 1 empty line above. text in block with 2 indents. 1 empty line below. First line starts with the word "Bilde."

First of all, we need to write some tests for all of these things.

[2017-10-09 13:18] josteinaj opened #103 "Bibliography and index"
*Moved from Karis google sheet*:

What to do with these? Make an option to include/exclude? Are they marked up so that it is possible to do that?

[2017-10-09 13:21] josteinaj opened #104 "Improve hyphenation"
*from Karis google sheet*:

Hyphenation works, but the hyphenation is basic. Want an improvement here.

[2017-10-09 13:27] josteinaj opened #105 "Exclude images by default"
*from Karis google sheet*:

Change to default: exclude. It's better to include when needed. (our producers add "image" in the alt attribute - it takes too much space in the productions).

[2017-10-09 13:29] josteinaj commented on #105
@KariRudjord we could alternatively treat images with the alt text "image" the same way as images with an empty alt text, which means they would be excluded. Only if the alt text is not empty and not "image", would the image be included. What do you think?

[2017-10-09 13:35] josteinaj opened #106 "Separate numbers and letters"
*from Karis google sheet:*

10A, A8

[2017-10-09 13:35] josteinaj commented on #106
@KariRudjord could you provide an example?

[2017-10-09 13:37] josteinaj opened #107 "Superscript and subscript"
*from Karis google sheet:*

[code]

[2017-10-09 13:38] josteinaj opened #108 "Fractions"
*from Karis google sheet*

[2017-10-09 13:39] josteinaj opened #109 "Dash"
*from Karis google sheet:*

Dash - or --

[2017-10-09 13:40] josteinaj opened #110 "Support roman numerals"
*from Karis google sheet*

[2017-10-09 13:40] josteinaj opened #111 "Links in footnotes"
*from Karis google sheet*

[2017-10-09 13:42] josteinaj opened #112 "Test combination of <span> and e-mails"
*from Karis google sheet:*

What happens with `<span>` and e-mail addresses? Is it correctly represented (in NorBraille everything in `<span>` are deleted)

[2017-10-09 13:44] josteinaj opened #113 "When unknown characters are encountered - replace them with spaces"
*from Karis google sheet*

[2017-10-09 13:47] josteinaj opened #114 "Unable to convert large books"
*from Karis google sheet:*

- book 500259 (2051KB): fails
- book 558237 (1310KB): fails
- book 500156 (1091KB): fails
- book 56527616 (1030KB): ok

[2017-10-09 13:50] josteinaj opened #115 "E-braille"
*from Karis google sheet*

[2017-10-09 13:51] josteinaj opened #116 "Mathematics"
*from Karis google sheet*

[2017-10-09 13:51] josteinaj opened #117 "Music braille"
*from Karis google sheet*

[2017-10-09 14:06] josteinaj commented on #117
Not adding this as part of october-december 2017 work plan.

[2017-10-09 14:06] josteinaj commented on #116
Not adding this as part of october-december 2017 work plan.

[2017-10-09 14:07] josteinaj commented on #115
Not adding this as part of october-december 2017 work plan.

[2017-10-09 15:01] bertfrees commented on #114
Where can I find these books? On the test server?

**EDIT**: Never mind, thought I was assigned.

[2017-10-09 15:08] bertfrees commented on #88
See https://github.com/daisy/pipeline-mod-braille/issues/159

[2017-10-10 09:28] josteinaj commented on #114
Yeah it's not uploaded anywhere yet I think. I assigned you first but changed it to me, so that I can create xprocspec tests for it before handing it over to you.

[2017-10-10 12:52] josteinaj opened #118 "Failed to complete volume division in dotify:obfl-to-pef"
Error reported by @matskober .

Volume division error generated by `dotify:obfl-to-pef` when using a modified version of book 118883.

The equivalent EPUB does not give this error (when converting with the nordic migrator).

@josteinaj will create a xprocspec test case.

[2017-10-10 13:29] bertfrees commented on #54
What do you think about also using the `dc:language` metadata field? Which of these three is strongest?

[2017-10-10 13:53] josteinaj opened #119 "volume breaking: prefer splitting at lower level headings"
Test was set to pending due to #63 but was never reenabled.

https://github.com/nlbdev/pipeline/blob/ed2802eb3d62a1fb28e6d8ba20c224744cc13c42/modules/nlb/book-to-pef/src/test/xprocspec/test_dtbook-to-pef_volume-breaking.xprocspec#L323

[2017-10-10 13:55] KariRudjord commented on #111
This is checked and working.

[2017-10-10 13:55] #111 closed, assigned to KariRudjord

[2017-10-10 13:57] josteinaj commented on #54
I would say `xml:lang > lang > dc:language` (prefer left).

It would probably be a warning or error in a validation tool though. It's not something that should occur.

[2017-10-10 14:10] KariRudjord commented on #105
I think that would be a good idea, @josteinaj

[2017-10-10 15:03] josteinaj opened #120 "UnsupportedOperationException: error in table model that cannot be fixed automatically"
[code]

See job 1025 on test server.

[2017-10-10 15:04] josteinaj opened #121 "Coding error: unexpected /css:_/book[1]/@css:volume-break-before (mode was table-attr)"
[code]

TODO: create test case

See job 1027 on test server.

[2017-10-11 08:43] josteinaj opened #122 "Volume splitting: there should always be something other than generated content in volumes"
Volume 1 has less available pages than volume 2, because volume 1 has a generated about page, while other volumes does not. If the first chapter fits in volume 2 but not in volume 1, then volume 1 will only consist of the about page. I'm not sure if this will be a problem in practice though. Ideally we should have a CSS solution. A workaround could be to insert the about page in all volumes, and t

[2017-10-11 09:13] josteinaj commented on #122
I think this would occur very often actually. It seems to occur whenever the first chapter doesn't fit in the first volume; regardless of whether it fits in the second volume or not.

[2017-10-11 09:20] bertfrees commented on #122
But, is it really a problem? It sounds like by trying to fix this we'll end up with a less optimal volume splitting.

[2017-10-11 09:21] bertfrees commented on #122
Unless of course the volume splitting isn't optimal right now (not taking into account whether pages are generated or not; whether pages are generated or not doesn't really matter IMO).

[2017-10-11 09:27] josteinaj commented on #122
The result now is that the first volume will usually just consist of a couple of pages. I'm going to try some `volume-break-before: avoid;` and see if that helps.

[2017-10-11 09:29] josteinaj commented on #122
By the way, this only happens locally for me since I haven't pushed the frontmatter changes yet. I'm working on getting those changes to pass the tests, which is why I found this issue. I'll just assign this to me until I've pushed the tests.

[2017-10-11 16:08] josteinaj commented on #81
Re-implemented titlepage and about page in 84739a2217bcc9cbd441294e2f5f56e3a6c28f6e and 02ab17fccbaa7533c675445fa57eb149307a3180.

[2017-10-11 16:08] josteinaj commented on #85
Fixed in 84739a2217bcc9cbd441294e2f5f56e3a6c28f6e.

[2017-10-11 16:09] josteinaj commented on #51
Fixed in 84739a2217bcc9cbd441294e2f5f56e3a6c28f6e.

[2017-10-11 16:10] josteinaj commented on #52
I think this is fixed in 02ab17fccbaa7533c675445fa57eb149307a3180, but should be tested.

[2017-10-11 16:10] josteinaj commented on #50
Fixed in 84739a2217bcc9cbd441294e2f5f56e3a6c28f6e.

[2017-10-11 16:11] josteinaj commented on #55
Fixed in 84739a2217bcc9cbd441294e2f5f56e3a6c28f6e and 02ab17fccbaa7533c675445fa57eb149307a3180.

[2017-10-11 16:11] josteinaj commented on #65
Updated in 84739a2217bcc9cbd441294e2f5f56e3a6c28f6e and 02ab17fccbaa7533c675445fa57eb149307a3180.

[2017-10-12 10:20] matskober commented on #40
When "alltid norsk"-box is not checked, the production fails: pf:text-transform failed (job#1050 EPUB3 to pef) and #1053, DTBook to pef).

[2017-10-12 10:56] #85 closed, assigned to josteinaj

[2017-10-12 12:30] josteinaj commented on #118
@matskober after upgrading the server, the job results were lost, and I can't see what options you used when converting the book. Can you create a new job which reproduces this error?

[2017-10-12 13:28] josteinaj opened #123 "Page count for one-sided books"
The page counter on the about page ("om boken") currently counts sheets instead of pages, so for two-sided (duplex) PEFs, that should be multiplied with 2 to get the correct number of pages.

@KariRudjord how many pages are there in a one-sided book? do we count the backside of each page as a page? I suppose not?

[2017-10-12 13:46] bertfrees commented on #78
So, to summarize, the desired behavior is:

- all pages should be counted, page 1 is the titlepage of the first volume, page counter should never be reset
- page number should be hidden in generated content (`.pef-titlepage`, `#generated-toc`, `.pef-about`)

However, with the current state of Dotify this can not be achieved. All content that is repeated in every volume (`.pef-titlepage`, `#generat

[2017-10-13 09:30] KariRudjord commented on #81
Title page test:
Author: first name shall first, then surname. It is opposite now. "mfl" shall start working when more than 2 authors. Now it come present when more than three authors.
Title: tried with a large title with  subtitle. Used the tag `<br/>`. And the job won't go through. Because the `<br/>`? (Sometimes we want the title do divide on a spesific place and us this tag. I might have forgo

[2017-10-13 09:56] josteinaj commented on #118
@matskober never mind, I got it reproduced.

Added test in 14f8a80fc193012e5962caba82d7b57abef98e8a.

[2017-10-13 12:16] josteinaj opened #124 "Problem inserting titlepage and about page in EPUB"
`err:XTRE0540:Ambiguous rule match for /html/body[1] Matches both "html:body[tokenize(@class,'\s+') = 'titlepage' or tokenize(@epub:type,'\s+') = 'titlepage']" on line 67 of bundle://88.0:1/xml/insert-boilerplate.xsl and "html:body[not(preceding::html:body)]" on line 30 of bundle://88.0:1/xml/insert-boilerplate.xsl`

Job on test server: 1086

Structure outline:
[code]

Reported by @matskober

[2017-10-13 12:48] bertfrees commented on #54
[code]

Is this CSS rule still desired?

[2017-10-13 13:16] bertfrees commented on #54
Which other languages should be supported but do not work at the moment?

[2017-10-13 13:43] josteinaj commented on #8
See also: #121

[2017-10-13 13:45] josteinaj commented on #121
This issue seems to be related to tables and volume breaking.

[2017-10-13 13:53] josteinaj commented on #81
Even if 3 authors fit on 3 lines?

Currently I pick the title from the metadata (`<meta name="dc:Title" content="Great Titles Are Great!"/>`). If we want to prefer breaking full titles between the main title and the subtitle, then we need to mark that up somehow. `<br/>` is one option. Do you do that currently inside the `<doctitle>`?

Yes! :)

[2017-10-13 14:02] josteinaj commented on #54
Ideally everything that is available in liblouis by default would be great. I know @KariRudjord tested 3 weeks ago and got the error `Could not find a sub-translator for language de (uncontracted)`, so at least we had trouble with german. Do you need a list of languages?

[2017-10-13 14:06] bertfrees commented on #54
OK yeah, the problem is that at the moment, for languages that have contractions, the uncontracted variants are not discoverable. I'll work on that. I don't really need a list of languages now that I know what the problem is, but it could be useful to know anyway, for creating tests.

[2017-10-13 14:55] josteinaj commented on #120
This is a `<table>` error, and seems to be caused by the use of the `colspan`and/or `rowspan` attributes.

[2017-10-13 15:01] josteinaj commented on #8
See also: #120

[2017-10-16 10:37] josteinaj commented on #57
Currently I think the TOC is only for the chapters in the volume containing that TOC. Should the first TOC be a TOC for the entire document, across all volumes?

[2017-10-16 11:37] matskober commented on #57
In my opinion, yeah; First volume toc showing the full book (and starting
on page 3). All other volumes: toc starting on page 2  - only referring to
chapters the volume is containing.

Mats

On 16 October 2017 at 11:37, Jostein Austvik Jacobsen <
notifications@github.com> wrote:

[2017-10-16 12:27] KariRudjord commented on #57
Yes, first volume have full TOC and the other volumes volume-spesific TOC. It has been working before, should I test it again?

[2017-10-16 12:28] josteinaj commented on #57
Ok. I'll create some automated tests for it first. I don't think it currently works that way so I'll have to change it.

[2017-10-16 12:56] matskober commented on #57
Believe it's all volume specific tocs in all volumes at the moment

On 16 October 2017 at 13:28, Jostein Austvik Jacobsen <
notifications@github.com> wrote:

[2017-10-16 13:34] josteinaj opened #125 "epub-nav-utils: add option to rename headline elements based on nav doc"
In EPUBs following the nordic markup guidelines, all documents starts with a h1, regardless of the actual depth. When doing a simple concatenation of all the documents in spine order, as is currently done in the EPUB3-to-PEF script, information about sectioning depth is lost.

Edit: this could maybe be done with a
[code]
to conditionally invoke the nordic migrator.

[2017-10-16 15:50] matskober commented on #125
Is it not only in books with parts this is a problem? If so; the documents
containing "Part 1", "Part 2" and so on, in most cases will only consist of
the <h1>? And can't we identify these documents on the level attribute?

Mats

On 16 October 2017 at 14:34, Jostein Austvik Jacobsen <
notifications@github.com> wrote:

[2017-10-16 18:52] josteinaj commented on #125
In theory it's a problem with any book having more than 1 level. But in practice this is maybe only noticable in books with parts.

Usually the part document only consists of a headline, but in some cases there are some additional content (like paragraphs) before the first chapter in the part as well.

In DTBook we can identify them based on the level1-level6 wrapper elements, but not in EPUB, as

[2017-10-17 09:15] matskober commented on #125
But how do the script that turns EPUBs to DTBooks recognise the part
documents? (Just trying to understand ...)

On 16 October 2017 at 19:52, Jostein Austvik Jacobsen <
notifications@github.com> wrote:

[2017-10-17 09:57] josteinaj commented on #125
Of course, no problem.

The headline, and any content preceding the first chapter in a part are contained in a separate HTML document. That document has an `epub:type="bodymatter part"` attribute on its `<body>` element. This determines that it is a part.

The navigation document (`nav.xhtml` usually) describes the a table of contents with the nesting hierarchy of the HTML documents, so the refere

[2017-10-17 10:07] matskober commented on #125
Ok, I was a bit confused here .. But is "headline" the right term; should
it not be "heading"?

On 17 October 2017 at 10:57, Jostein Austvik Jacobsen <
notifications@github.com> wrote:

[2017-10-17 10:31] josteinaj commented on #125
I mean `h1`-`h6`.

What's the difference between a headline and a heading? Is the headline part of the heading? Is the heading the same as the header?

[2017-10-17 10:49] josteinaj opened #126 "Volume TOC should start on page 2"
...or in other words, the TOCs should end up in the first `<section>` in each `<volume>` of the PEF.

[2017-10-17 12:11] josteinaj opened #127 "Update headline CSS"
The headlines currently looks a bit strange I think. These are the current headline styles:

[code]
[code]

---

[code]
[code]

---

[code]
[code]

---

[code]
[code]

---

[code]
[code]

---

[code]
[code]

---

[code]
[code]

[2017-10-17 12:12] matskober commented on #125
It is some overlap, obviously, they are all referring to something coming
first or on the top. It's an element of genre involved; 'headline' and
'header' seems more relevant in newspapers, periodicals and academic
literature than in a novel or a children's book.

In a  newspaper, the 'header' would be what's "over the line" at the top of
the page, often consisting of the name and date of the publi

[2017-10-17 12:43] josteinaj opened #128 "Bad border alignment"
[code]

[code]

[code]

[2017-10-17 12:59] josteinaj commented on #125
Ok, interesting. So:

header: "NRK - Culture"
headline: "The Norwegian Library of Talking Books and Braille (NLB)"
heading: "NLB inherits 20 billion crowns from unknown uncle"

or

header: "BBC - International politics"
headline: "Brexit"
heading: "UK says it was all just a joke - they won't leave EU after all"

... right?

It wouldn't be relevant for this particular github issue, but it might be

[2017-10-17 13:31] josteinaj commented on #128
Test: https://github.com/nlbdev/pipeline/commit/1ba1b4aac9ac9ce89f1b072ee0a9300c908509b2#diff-afc793f7973a615c02206712f8c2c5baR1518

[2017-10-17 13:32] josteinaj commented on #81
By the way, for translator you need to use the role attribute:

[code]

[2017-10-17 13:36] josteinaj commented on #122
Tests added:
- https://github.com/nlbdev/pipeline/commit/5b9d92ffe1fc123a192360e3c91d5377753eb870#diff-0ffc6ea8a876071ea0723b93bba79ecaR25
- https://github.com/nlbdev/pipeline/commit/5b9d92ffe1fc123a192360e3c91d5377753eb870#diff-0ffc6ea8a876071ea0723b93bba79ecaR91

[2017-10-17 13:47] josteinaj commented on #126
Tests added in 1ba1b4aac9ac9ce89f1b072ee0a9300c908509b2

[2017-10-17 14:01] bertfrees commented on #126
Not possible at the moment, see https://github.com/braillespecs/obfl/issues/48.

[2017-10-17 14:07] josteinaj commented on #81
@KariRudjord this can now be tested again. I've fixed the things you mentioned. There's one issue that I know of and that is that the volume toc in volume 2, 3 etc. are starting on page 3 instead of page 2. I have an issue for it here: #126

[2017-10-17 14:09] josteinaj commented on #57
This can now be tested.

Volume 1 should start with: titlepage + about page + document toc
Volume 2 and up should start with: titlepage + volume toc

[2017-10-17 14:10] josteinaj commented on #49
This should work now. Can be tested.

[2017-10-17 14:10] josteinaj commented on #75
I think this works now. Please test.

[2017-10-17 15:46] josteinaj opened #129 "dotify:obfl-to-pef failed: Failed to solve table"
[code]

[2017-10-17 15:47] josteinaj commented on #114
So I've tested the three books that are failing, and the problem seems to be about tables. Two of the books have the same problem as in #121. And a third book gives a 'Failed to solve table' error that I've created a separate issue for here: #129.

I've created 8 tests for books with simple structures in different sizes: 10 kB, 100 kB, 500 kB, 1 MB, 1.5MB, 2MB, 5MB and 10MB. All tests together run

[2017-10-17 16:13] josteinaj commented on #114
Tests for big books here (deactivated by default): 1fa22a3b6adcf74d5fadfd798181c4e78ec89849

[2017-10-17 16:14] josteinaj commented on #129
Test here: d7f4fcbf69ff67464d480ac486d8fac1093062ab

[2017-10-17 16:16] josteinaj commented on #8
See also: #129

[2017-10-18 07:33] KariRudjord commented on #51
Working

[2017-10-18 07:33] #51 closed, assigned to KariRudjord

[2017-10-18 07:35] KariRudjord commented on #50
Translator doesn't appear on title page although it is present in metadata:
[code]

[2017-10-18 07:44] KariRudjord commented on #105
Working

[2017-10-18 07:44] #105 closed, assigned to KariRudjord

[2017-10-18 07:57] KariRudjord commented on #49
Working on author. Translator on #50

[2017-10-18 07:57] #49 closed, assigned to KariRudjord

[2017-10-18 08:04] KariRudjord commented on #126
Is this a double card @josteinaj
As far as I can see, TOC appear on page 2 in other volumes than the first. Can I move this one to done?

[2017-10-18 08:09] KariRudjord opened #130 "TOC - full TOC in vol.1"
Volume spesific TOC in other volumes
Now it is vol spesific TOC in volume one.

[2017-10-18 08:10] KariRudjord commented on #57
Working.

[2017-10-18 08:10] #57 closed, assigned to KariRudjord

[2017-10-18 08:12] #55 closed, assigned to KariRudjord

[2017-10-18 08:27] josteinaj commented on #50
Try adding the `role` attribute to the meta element:

[code]

[2017-10-18 08:31] josteinaj commented on #126
@KariRudjord In one sided PEFs it should work, but in two-sided PEFs ("duplex") you should currently get the TOC appearing on the right page instead of the left page. Maybe it's still numbered as page 2 and maybe it's not showing properly in the PEF preview, I don't know. Have you tried opening a PEF in some other embossing utility to see which page it appears on?

[2017-10-18 08:33] josteinaj commented on #130
Oh, I forgot to change that. I'll fix it.

[2017-10-18 09:41] KariRudjord commented on #50
Book is not valid then:
Description: Attribute "role" must be declared for element type "meta".

[2017-10-18 09:43] KariRudjord commented on #50
But guess what, it worked anyway! Is this something we will get into our metadata on regular basis?

[2017-10-18 10:32] josteinaj opened #131 "Represent translator in metadata"
The issue is the same for DTBook and HTML/EPUB.

This is not necessarily a translator:
[code]

This is not valid:
[code]

Maybe this can be used?
[code]

[2017-10-18 10:33] josteinaj commented on #50
Oh, it seems the `role` attribute is for the OPF in a DAISY 3 publication, so that's not valid in a DTBook, no. I misread the [DAISY 3 specification](http://www.niso.org/workrooms/daisy/Z39-86-2005.html). It won't work in a HTML document either, so we need some way of representing the translator in the metadata anyway.

Maybe we should just say:
[code]

I'll have to search around a bit to find out

[2017-10-18 11:28] josteinaj commented on #130
Should be fixed now. @KariRudjord you can try again.

[2017-10-18 12:04] bertfrees commented on #45
I have made an initial suggestion. Can be tested now.

[2017-10-18 12:06] bertfrees commented on #78
Implemented as described above.

[2017-10-18 12:06] bertfrees commented on #99
Fixed.

[2017-10-18 12:34] josteinaj commented on #102
@KariRudjord the "precedingseparator"-class; is it the same as a `<hr/>` element?

A `<hr/>` inserts (by default) a horizontal line. Like this:
<hr/>

It seems to be the same as what the precedingseparator class is intended for; i.e. a "thematic break" in the text?

[2017-10-18 12:37] josteinaj commented on #102
Hmm, it seems like `<hr/>` is only available in old versions of the DTBook standard, so it won't be valid when used as part of our books. I suppose that's what the class is for...

[2017-10-18 17:07] bertfrees commented on #54
@josteinaj It seems like this already works? You enabled the test in 52930b2.

[2017-10-18 18:26] bertfrees commented on #54
This should now have been fixed.

This hasn't been done yet.

In addition, Norwegian within a passage in another language works now.

[2017-10-18 18:32] bertfrees commented on #54
@josteinaj I also fixed a wrong test here: 08e569b. Did you maybe create that test in response to issue https://github.com/nlbdev/pipeline/issues/40? Does this mean it is no longer an issue?

[2017-10-19 06:41] josteinaj commented on #54
Yes probably.

[2017-10-20 06:55] KariRudjord commented on #130
I've tried with a random book and with the test book I used in the AT. Both failed, @josteinaj
Book is only produced when it's only one volume.+

[2017-10-20 08:04] KariRudjord commented on #61
When no `<hx>` is present and chapter is only marked with `<level1>` text should start on line 5, @josteinaj

[2017-10-20 09:25] KariRudjord opened #132 "Lists with markup <pl> shall have layout as<ul> og <ol>"
That is: start from left marin. When text is more than one row, text start with 2 indents from row 2.

[2017-10-20 12:32] josteinaj commented on #61
Ok, thanks, I'll create a test.

[2017-10-20 12:37] josteinaj commented on #132
Does this not work? I have [a test for it](https://github.com/nlbdev/pipeline/commit/2fbf30c3cc1de11bc54c51eca495d6544de83eb1#diff-afc793f7973a615c02206712f8c2c5baR2172) that passes:

input:
[code]

output:
[code]

[2017-10-20 12:39] josteinaj commented on #132
...or maybe it's an EPUB issue? There's no test  for that currently.

[2017-10-20 12:58] matskober commented on #132
If you skipped to left margins ?

<row>⠉⠕⠝⠞⠑⠝⠞⠀⠉⠕⠝⠞⠑⠝⠞⠀⠉⠕⠝⠞⠑⠝⠞</row>
<row>⠀⠀⠉⠕⠝⠞⠑⠝⠞⠀⠉⠕⠝⠞⠑⠝⠞⠀⠉⠕⠝⠞⠑⠝⠞</row>
<row>⠀⠀⠉⠕⠝⠞⠑⠝⠞⠀⠉⠕⠝⠞⠑⠝⠞</row>
<row>⠉⠕⠝⠞⠑⠝⠞⠀⠉⠕⠝⠞⠑⠝⠞⠀⠉⠕⠝⠞⠑⠝⠞</row>
<row>⠀⠀⠉⠕⠝⠞⠑⠝⠞⠀⠉⠕⠝⠞⠑⠝⠞⠀⠉⠕⠝⠞⠑⠝⠞</row>
<row>⠀⠀⠉⠕⠝⠞⠑⠝⠞⠀⠉⠕⠝⠞⠑⠝⠞</row>
<row>⠉⠕⠝⠞⠑⠝⠞</row>
<row>⠉⠕⠝⠞⠑⠝⠞</row>
<row>⠉⠕⠝⠞⠑⠝⠞</row>
<row>⠉⠕⠝⠞⠑⠝⠞</row>
<row>⠉⠕⠝⠞⠑⠝⠞</row>
<row>⠉⠕⠝⠞⠑⠝⠞</row>
<row>⠉⠕⠝⠞⠑⠝⠞</row>
<row>⠉⠕⠝⠞⠑⠝⠞⠀⠉⠕⠝⠞⠑⠝⠞⠀⠉⠕⠝⠞⠑⠝⠞</r

[2017-10-20 12:59] matskober commented on #132
two ...

On 20 October 2017 at 13:58, Mats Køber <mats.kober@gmail.com> wrote:

[2017-10-20 13:05] josteinaj commented on #132
All pages have a two-cell gap at the left. Probably to allow for page markers. So you can disregard the two first cells in my example for this particular issue, since those cells are not really part of how the list is styled. If we removed that margin, we would get the same as your example.

[2017-10-20 13:12] matskober commented on #132
ok. Do it do this a standard? If I wouldn't want them; would I have "to go
negative" on the margin? (-2?)

Mats

On 20 October 2017 at 14:05, Jostein Austvik Jacobsen <
notifications@github.com> wrote:

[2017-10-20 13:12] #94 closed, assigned to KariRudjord

[2017-10-20 13:19] josteinaj commented on #132
The [current rule](https://github.com/nlbdev/pipeline/blob/nlb/modules/nlb/book-to-pef/src/main/resources/css/nlb-default.scss#L17) looks like this:

[code]

So there's always 1 empty cell on both the left and right side of the page. And if the `show-print-page-numbers` option is enabled ([which it is by default](https://github.com/nlbdev/pipeline/blob/nlb/modules/nlb/book-to-pef/src/main/resource

[2017-10-20 17:26] bertfrees commented on #118
Should have been fixed now. The test that Jostein provided is really an extreme case I think, and it requires 23 iterations. I have some ideas to further improve things if needed, and we can possibly also increase the maximum number of iterations.

[2017-10-20 17:47] bertfrees commented on #121
Fixed

[2017-10-20 17:52] bertfrees commented on #129
See also https://github.com/brailleapps/dotify.formatter.impl/issues/27.

[2017-10-20 19:04] bertfrees commented on #129
The table in the test is simply too big. It has 10 columns and you want to fit them into a 29 cell wide page. I have improved the error message a bit.

[2017-10-23 09:26] KariRudjord commented on #81
Very much working now, @josteinaj - also translator when role is present! Remains:

Author: a very long author name don't get first name first. I would prefer this behaviour from NorBraille:
![image](https://user-images.githubusercontent.com/12409918/31881667-818c369a-b7e4-11e7-9dbc-52885dca53f0.png)
instead of the current PIP behaviour:
![image](https://user-images.githubusercontent.com/12409918/

[2017-10-23 09:27] josteinaj commented on #118
When we tested before summer, I think we found that the iterations doesn't really take much time, so a high limit may not be a problem. Maybe the [max iterations limit](https://github.com/nlbdev/pipeline/commit/a73769d75e0f431139172726218afae9f15784fb#diff-71666b522dd12e736f49b9caac6750bbR135) could be replaced by a timeout of 2 minutes or something?

[2017-10-23 09:38] josteinaj commented on #81
I'll have a look at the first/last name order with long names.

When dividing the title, is it always between the main title and subtitle, or do you want to divide in other places? We could probably get main/sub title from the metadata in Bibliofil (I'll have to set up retrieval of metadata from Bibliofil as part of pre-processing to get translator etc. I think).

[2017-10-23 10:27] KariRudjord commented on #81
It's nice to have the possibility to divide in other places too. Sometimes there is a title that gets much better when divided a specific place.

[2017-10-23 10:36] KariRudjord commented on #81
Is it difficult to make an option in GUI that make it possible to include subtitle when wanted. (Only main title as standard) ?

[2017-10-23 10:49] bertfrees commented on #118
No, a high limit is not necessarily a problem. But it does point out problems in the algorithm. That's what the limit is for, to detect when algorithm does not converge (fast enough) to a solution. That's why I like to set it just high enough, so that we are warned and we can optimize the algorithm.

A timeout is an interesting idea but in the end it just comes down to the same thing I think. The

[2017-10-23 11:45] josteinaj commented on #81
If we use the `<doctitle>` in DTBook, and `<h1 epub:type="fulltitle">` in EPUB, then we can use `<br/>` to force line breaks (I think the `br` should have a class so that it only brakes in braille):

DTBook:
[code]

EPUB:
[code]

If we also want to separate the maintitle/subtitle, we need to mark up those parts with for instance:

DTBook:
[code]

EPUB:
[code]

title/subtitle is not currently marke

[2017-10-23 11:49] KariRudjord commented on #132
Empty row over table is put into CSS.

[2017-10-23 11:49] #132 closed, assigned to josteinaj

[2017-10-23 11:52] KariRudjord opened #133 "List type dl"
Some books have list type dl. Find a good rule for this.

Eg.:
 <dl>
  <dt>Coffee</dt>
  <dd>Black hot drink</dd>
  <dt>Milk</dt>
  <dd>White cold drink</dd>
</dl>

[2017-10-23 12:08] KariRudjord commented on #130
But when I try another book (used in AT) it works. So maybe something was wrong with the book I used first. Should I maybe try with more books, @josteinaj ?

[2017-10-23 13:50] KariRudjord commented on #81
I've talked to Mari (synthetic speech) and Eivind (fulltext) and they both include subtitle in productions. Mari manually, Eivind is not shure how it is collected. I think we should do it the same for all products and include subtitle for braille too. And your suggestion, @josteinaj to exclude subtitle if it takes too much space - I would like that! If full title doesn't fit on title page, it woul

[2017-10-23 14:06] matskober commented on #133
When I come across dl-lists, I turn them into pl-lists, replacing the
closing dt-tag and the following (opening) dd-tag with colon and
withespace. (Opening dt and closeing /dd becomes li and /li)
<li>Coffee: Black hot drink</li>
<li>Milk: Withe cold drink</li>

[2017-10-23 14:26] josteinaj commented on #130
If it works in some books but not all, that's still a bug we should fix. Maybe you can try the books that failed previously one last time, and if they still fail I'll have a closer look at them.

[2017-10-23 14:38] josteinaj commented on #133
Making it into a list sounds good. An alternative would be to just give all `dd` elements a 2 cell left margin.

Note that definition lists can also have multiple definitions per definition term. For instance:

 <dl>
  <dt>Coffee</dt>
  <dd>Black</dd>
  <dd>Hot</dd>
  <dd>Drink</dd>
  <dt>Milk</dt>
  <dd>White</dd>
  <dd>Cold</dd>
  <dd>Drink</dd>
</dl>

So, making it into a list (joining multiple

[2017-10-23 14:43] matskober commented on #133
I believe that comma separation would be preferable in a braille context.
(Easier to navigate, less space consuming.)

[2017-10-23 15:46] josteinaj commented on #118
@matskober is still getting this error, so I've created a new test based on an obfuscated version of a real book instead of generating it like in the previous test:

https://github.com/nlbdev/pipeline/commit/73aad642d8ba56dbc353b7918c6b3084257b210a#diff-0ffc6ea8a876071ea0723b93bba79ecaR1054

[2017-10-23 15:52] bertfrees commented on #118
OK I'll look at it again.

[2017-10-23 16:06] KariRudjord commented on #130
E.g. 501349 (study book) and 550220 (childrens book with simple TOC)  failes.

[2017-10-23 16:24] KariRudjord commented on #121
I tried the book over again, (561687). It still failes.

[2017-10-24 08:40] bertfrees commented on #121
Still the same error? Was it job 1218?

[2017-10-24 08:43] KariRudjord commented on #121
Job 1218, yes. Failed to complete volume division.

[2017-10-24 08:44] bertfrees commented on #121
OK, it's a different error then.

[2017-10-24 09:54] josteinaj opened #134 "No headline for volume TOC"
the SCSS contains:

[code]

This seems to carry over fine to OBFL; the unicode braille representation of the "Innhold" headline is in the OBFL for both the document-toc and the volume-toc. However, in the resulting PEF, the volume-toc does not have a headline.

Test here: 2b09cb08b01e0a3f5b9317a02ad8d97c65b8eee1

[2017-10-24 10:46] josteinaj commented on #121
@KariRudjord I'm moving this back to "Ready for testing" since it turned out to be a different error. The "Failed to complete volume division" error is most likely this issue: #118

Do you remember if you previously got the error "`Coding error: unexpected /css:_/book[1]/@css:volume-break-before (mode was table-attr)`" for 561687? If so, you can move it to "Done". If you don't remember, let's just

[2017-10-24 10:49] josteinaj opened #135 "CSS for poems"
@KariRudjord do you have an example of a poem produced with NorBraille? If not, I can just make a suggestion?

[2017-10-24 10:50] josteinaj commented on #102
Note that I've created a separate issue for poems: #135

[2017-10-24 10:51] matskober commented on #78
see job#1229
Pagenumber on toc in first volume
Starts new counting of pagenumber at first non-generated element
@bertfrees  @josteinaj

[2017-10-24 10:56] bertfrees commented on #78
OK I see already what the problem is. The rule below should be added. Forgot to add it when I rebased my page numbering fixes onto Jostein's TOC fixes.

[code]

This is expected behavior, right? (see https://github.com/nlbdev/pipeline/issues/78#issuecomment-336142141)

[2017-10-24 11:04] KariRudjord commented on #135
CSS for poems virker fint i PIP, sjekket akkurat. Men her er et dikt i NorBraille, om du trenger det.

![image](https://user-images.githubusercontent.com/12409918/31939713-bc870676-b8bb-11e7-8b56-6af1b3aa6114.png)

[2017-10-24 11:08] josteinaj commented on #135
Åja virker det? Trodde ikke det jeg. Skal uansett lage en test for det. Takk for eksempel :)

[2017-10-24 11:09] KariRudjord commented on #135
Ammar og jeg la det inn for lenge siden :-)

[2017-10-24 11:27] KariRudjord commented on #52
It's still two rows between the entries. Takes a lot of space. Should be row by row without space

![image](https://user-images.githubusercontent.com/12409918/31940564-e59c93d4-b8be-11e7-8f13-4124e5eeca03.png)

[2017-10-24 12:38] matskober commented on #81
@josteinaj wrote: "By the way, for translator you need to use the role attribute:

meta name="dc:Contributor" role="translator" content="Translator, Tex the" "

Adding this to the DTBook makes it fail validation in my editor (Oxygen), claiming the "role attribute" must be declared - I assume it's a DDT-thing. The DTBook runs smoothley in PIP, and delivers the tranlator's name as it should, but Nor

[2017-10-24 13:19] josteinaj commented on #81
Probably not. I'm going to replace this with `dc:Contributor.Translator` to make it valid (lowercase in epub). For author and title I'll start using doctitle/docauthor (`<p epub:type="fulltitle">`/`<p epub.type="z3998:author">` for EPUB).

[2017-10-24 13:57] josteinaj commented on #129
@KariRudjord could you check what the error message is now and if it's clear from the message why it failed and what table it failed on? You can also make a separate issue for handling big tables if you want.

[2017-10-24 14:13] josteinaj commented on #45
@KariRudjord You need to add the `table-as-list` class to the table that you want to become a list.

For instance, this:

[code]

will become this (replaced with characters for readability):

[code]

You should try with some different existing tables and see how it looks.

[2017-10-24 14:56] bertfrees commented on #120
The problem is probably that the table is not well-formed and Dotify does not handle this. For example:
[code]

The way to go here I think is to show an error message. Changes are high that malformed complex tables like this one are mistakes, so by automatically inserting empty cells, the risk would be too high that you end up with wrong output without noticing.

I'm not sure how to implement the

[2017-10-24 14:58] bertfrees commented on #88
Related: https://github.com/nlbdev/pipeline/issues/91

[2017-10-24 15:19] bertfrees commented on #91
I've checked that the intermediate OBFL file does have the `keep-with-next-sheets` attributes, so the issue can't be in the css-to-obfl part. I also unit test `keep-with-next-sheets` so that proves it works at least in that case. I'd like to see an example of a case where it doesn't have the desired effect.

[2017-10-24 15:37] bertfrees commented on #134
Actually the "Innhold" that you see in the OBFL shouldn't be where it is now, namely at the start of the `table-of-contents` elements. It should be contained inside `on-toc-start` elements. This can be accomplished by using the `::-obfl-on-toc-start` pseudo-element instead of `::before`.

I'll change it in the CSS.

[2017-10-24 17:09] bertfrees commented on #134
Fixed.

[2017-10-24 17:09] bertfrees commented on #128
This is a Dotify bug. Working on it now...

[2017-10-25 07:50] KariRudjord commented on #45
I've made some test examples: (for some reason the zipped xml will not be added here, I can email it if you want).

By now it seems like everything is set as columns, not lists. I don't know if it is the markup or the CSS.
[Tables.Examples-originalandPIP.docx](https://github.com/nlbdev/pipeline/files/1413692/Tables.Examples-originalandPIP.docx)

[2017-10-25 08:52] josteinaj commented on #45
After discussing a bit with Kari on slack, I'm gonna create some input/output XML based on Karis examples. @KariRudjord will have to approve the examples, so that we get the desired layout.

The first examples shows the alphabet and is a 6x5 table (6 columns). Considering that we need space for a border and table cell margins and the available row width is 30 braille cells, we can't fit any more t

[2017-10-25 09:00] josteinaj commented on #45
Actually, this issue is about making tables into lists. So @KariRudjord: if you test the `table-as-list`, and it works, then you can move it to Done. I'm going to add the examples to #8 instead.

[2017-10-25 09:00] josteinaj commented on #8
(comment copied from #45)

After discussing a bit with Kari on slack, I'm gonna create some input/output XML based on Karis examples. @KariRudjord will have to approve the examples, so that we get the desired layout.

The first examples shows the alphabet and is a 6x5 table (6 columns). Considering that we need space for a border and table cell margins and the available row width is 30 braille cel

[2017-10-25 09:08] bertfrees commented on #118
Did some more fixes.

[2017-10-25 09:45] bertfrees commented on #128
Fixed

[2017-10-25 10:52] bertfrees opened #136 "Optional DTBook/EPUB3 validation"
The option wouldn't be used by NLB because they always validate their files beforehand. A use case could be for external users, like e.g. Statped.

We would not use the Nordic validators, because Jostein does not want to restrict the dtbook-to-pef and epub3-to-pef scripts to only Nordic DTBooks/EPUBs.

However I'm also a bit reluctant to just use the generic DTBook/EPUB3 validation. In order for t

[2017-10-25 11:20] josteinaj commented on #8
The second example is a 5x3 table. 5 columns won't fit, but since there only 3 rows, we could transpose the table into a 3x5 table and render that instead?

Transposing tables I think should always be possible as long as the output is rendered as a table. If it is rendered as a list, we would have to determine the natural reading order (i.e. see where the `<th>` elements are).

**Original table:**

[2017-10-25 11:24] bertfrees commented on #8
Transposing the table: yes that is possible, with CSS even.

[2017-10-25 12:11] bertfrees opened #137 "OBFL should have its own button in the UI"
See https://github.com/daisy/pipeline-mod-braille/issues/157

[2017-10-25 12:16] josteinaj commented on #8
The third example is a 3x4 table, so it should be possible to render as a table if we want to.
It does contain images, but since they are only there for presentational purposes, they should
be removed anyway, and only text content remains. I think only tables with no non-textual elements,
and no more than one block element, should be considered for table rendering.

**Input:**
[code]

**Output as

[2017-10-25 12:29] bertfrees commented on #8
Remember that the criteria for deciding how to render a table can also be based on "output properties" like `$min-block-width` and `$total-height`. See http://braillespecs.github.io/obfl/obfl-specification.html#L2715. This would require a bit of work to integrate this Dotify feature but it is possible.

[2017-10-25 12:35] josteinaj commented on #8
Interesting. Would that be written in the SCSS?

[2017-10-25 12:36] bertfrees commented on #8
The reading order of tables can be controlled to some extend with CSS. For example you can group by certain "axes". An axis is something you normally define in the XML, so that requires some editing of the source. However we could also make some automatic axes with special behavior, e.g. an axis called "first-column".

**EDIT**: "first-column" would be like "row", which already exists, except that

[2017-10-25 12:39] bertfrees commented on #8
I don't know how the "Dynamic Source Data Processing" feature would translate to CSS. Haven't put much thought into it yet. But a relatively simpler solution would be to configure it globally as an a port/options/parameters passed to the `dotify:obfl-to-pef` step.

[2017-10-25 12:58] josteinaj commented on #8
The fourth example is a 2x7 table. It would render fine as a table.
If we want it rendered as a list, we either need criteria for why
it should be rendered as a list, or we need to insert the
`table-as-list` class manually.

**Input:**
[code]

**Output as a table:**
[code]

**Output styled as ordered lists with outer list item text coming from first column:**
[code]

**Output styled as ordered lis

[2017-10-25 13:17] josteinaj commented on #8
The fifth table is a 2x6 table.

**Input:**
[code]

**Output as a table:**
[code]

The reading order here should be "one column at a time", since there are `<th>` in the first row but nowhere else.
(So the table is essentially transposed before making it into a list.)

**Output styled as unordered list with ";" as cell separator:**
[code]

[2017-10-25 13:30] josteinaj commented on #8
...okay, that's all the examples. I'm assigning this to you now @KariRudjord; what do you think about all of this?

I'll try to summarize:

- if criteria for rendering a table as a table is not met: render as a list (should also involve inferring the reading order). See #45.
- criteria for rendering a table as a table:
    - max 3 columns or rows
    - no content visible other than text in each ce

[2017-10-25 15:05] bertfrees commented on #8
I'm not 100% sure we can make the borders like that, have you tried that out? Especially the corners I'm not sure about. But if it's important I'm sure we can fix that.

[2017-10-25 15:07] matskober commented on #118
Seem to work now.

[2017-10-25 15:07] #118 closed, assigned to matskober

[2017-10-25 16:55] josteinaj commented on #8
I haven't tried it. I think we have something similar for headlines with `class="part"` / `epub:type="part"` though. If it's not possible, I suppose we can simplify to:

- top border (dot 14): `⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉`
- between cells (dot 123): `⠀⠇⠀`
- between rows (dot 25): `⠒⠒⠒⠒⠒⠒⠒⠒⠒⠒⠒⠒⠒⠒⠒⠒⠒`
- bottom border (dot 36): `⠤⠤⠤⠤⠤⠤⠤⠤⠤⠤⠤⠤⠤⠤⠤⠤⠤`

[2017-10-25 16:58] josteinaj opened #138 "Normalize text in TOC"
reported by @matskober

I used some `<br/>` to make the headings look better, and it worked as intended. But I noticed some side effects you might want to be aware of: The `<br/>`-tag also inflicts the toc, making a line break (even a new `<p>`).

[code]

[2017-10-25 22:49] bertfrees commented on #8
I meant the corners that don't continue on one side. E.g. the `⠋` and `⠙` in
[code]

[2017-10-31 09:57] KariRudjord commented on #81
Author: I think it is a problem that first name is not written full out. Is it possible to write it full out and divide it in two lines when neccesary?

Translator: Will the "dc: Contributor.Translator"... be added to all our master files?

Title: I didn't manage to break it,  with <br/> or with the doctitle-span thing abowe.

[2017-10-31 10:48] josteinaj commented on #81
**Author:** if there are multiple authors, then each name is limited to 1 line. If it doesn't fit on 1 line, it will try shortening the middle name, and then it will try in addition shortening the first name. I suppose there's a corner case where you have 2 authors and each author are given 1 line even though there's 3 lines available for the authors. Is that the problem?

**Translator:** I'm work

[2017-10-31 11:07] KariRudjord commented on #81
Translator - OK!

Author - I think it is a problem to shorten names, yes. People want to know the full name of the author.  If space is the problem, I would prefare to only have one author present and add mfl. when there is not enough space.

Title - I tried with <doctitle>Testbook XML-element<br class="display-braille"/>roman</doctitle> but then book failed in PIP.

[2017-10-31 11:18] KariRudjord commented on #102
Everything working besides

Imgroup - Both bildebeskrivelse: and Bilde: is added when "alt" is filled out. It seems a little to much. Now we use `<prodnote>` when we have an image description. Would that be wrong? If it is ok to proceed with that, I would like to remove the word Bildebeskrivelse: from img.

`<epigraph>` and `<div class="Rammetekst">` are tags we don't use in our book, I believe, s

[2017-10-31 11:25] KariRudjord commented on #128
Working!

[2017-10-31 11:25] #128 closed, assigned to KariRudjord

[2017-10-31 12:26] bertfrees commented on #120
I fixed this by adding a validation step (only for DTBook for now).

[2017-10-31 12:53] josteinaj commented on #81
**Author:** Ok. Should names not be shortened at all maybe? And use "mfl." if only some authors fit, and "Flere forfattere" if no authors fit?

**Title:* Ok. I see in job 1336 you get `Too many nested function calls. May be due to infinite recursion.`. I'll have a look at it.

[2017-10-31 13:03] josteinaj commented on #102
I'm not sure how image descriptions **should** be marked up, but if we do it with prodnotes now then I at least we should support that. Could you send me a couple of examples? You could ask @olavindergaard about this as well.

**showin:** Ok, I'll have another look at showin.

**precedingseparator:** if you add this class to an element (typically a p: `<p class="precedingseparator">...</p>`), then

[2017-10-31 13:10] matskober commented on #102
Could you not achieve the same as showin="xxx", using display: none in the
css?

On 31 October 2017 at 13:03, Jostein Austvik Jacobsen <
notifications@github.com> wrote:

[2017-10-31 14:11] josteinaj commented on #102
Yes, that's how it's done now:

[code]

(class for use in epub/html)

The rule `*[showin^="x"]` should mean "any element with a showin attribute that starts with 'x'". Since Kari reports that the showin attribute isn't working properly, I'll have to look closer at it. I have automated tests for it that succeeds so it's strange.

[2017-10-31 14:55] matskober commented on #102
Yeah, but is this attribute something you want in your EPUBs/DTBooks? As a
default it should be showin="blp" or "xlp", so that decisions made in a
braille to paper context is not reflected in other formats? Most elements
have id's; is it not better to address this thru css only?

Mats

On 31 October 2017 at 14:11, Jostein Austvik Jacobsen <
notifications@github.com> wrote:

[2017-11-01 07:20] josteinaj commented on #102
For DTBooks, the showin-attribute is just "the way to do it", and I don't think we need to change that.

For hiding things in HTML/EPUB we can either use `class="hidden-braille"`, and have that class defined in the CSS (as it is implemented now), or we could say that the producer has to insert "display: none;" into a style attribute, a style element, or by attaching a custom CSS file. I think usin

[2017-11-01 07:22] KariRudjord commented on #81
Authors not to be shortened, no. What do you mean about no authors fit? most books have only one author, and if the name is more than one line, it should be written in two lines.

[2017-11-01 07:33] KariRudjord commented on #102
Prodnote is already working good (12356 before and 23456 behind) so we leave image description as they are now without any further tests, I think. We seldom use it, but I used it recently in some books, you can see job #1346 if you are interested. But leave out "Bildebeskrivelse" from <img alt ... would be good.

[2017-11-01 22:42] josteinaj commented on #81
Most author names will fit within 3 lines. But there are exceptions. The extreme corner case would be [Adolph Blaine Charles David Earl Frederick Gerald Hubert Irvin John Kenneth Lloyd Martin Nero Oliver Paul Quincy Randolph Sherman Thomas Uncas Victor William Xerxes Yancy Zeus Wolfe­schlegel­stein­hausen­berger­dorff­welche­vor­altern­waren­gewissen­haft­schafers­wessen­schafe­waren­wohl­gepflege

[2017-11-02 10:14] bertfrees commented on #78
The initially desired behavior, namely:

- all pages should be counted, page 1 is the titlepage of the first volume, page counter should never be reset
- page number should be hidden in generated content (`.pef-titlepage`, `#generated-toc`, `.pef-about`)

could now in theory be implemented, but it'll require some work. I'll have to:

- rebase the Dotify changes in the NLB branch onto the latest Do

[2017-11-02 15:13] KariRudjord commented on #81
Haha, I don't think we want to produce any books by this author :-)

[2017-11-02 16:23] KariRudjord commented on #78
What do you think of this, @josteinaj ?

The reason I want it, is that I want a simple way to get total amount of pages in a book (including all) to put into our library system and for the publisher. Preferably in an automatic way. (Today we open every book in the Easy utility embosser, go to last page of last volume and write down the number manually).

Is there an easier way to get the total amo

[2017-11-02 17:43] KariRudjord commented on #15
For me this seems OK now. But I would like you to have a look at it too, @matskober just to be sure. OK?

[2017-11-02 18:39] KariRudjord commented on #134
Working.

[2017-11-02 18:39] #134 closed, assigned to KariRudjord

[2017-11-03 09:01] josteinaj opened #139 "Validation step for tables in EPUB/HTML"
See: https://github.com/nlbdev/pipeline/issues/120#issuecomment-340746773

[2017-11-03 14:28] josteinaj commented on #78
I think this would be a nice feature to have, so yes.

Also, keeping up to date with the latest dotify seems like a good idea in itself.

The temporary solution is good enough for us to use in production though, so I don't this should be a high priority any more.

[2017-11-03 19:23] bertfrees commented on #78
My 2 cents: don't change the layout *just* as a way of obtaining the total number of pages to put in a database. Do what is best from a end user perspective. If it's just for getting the number of pages, I think it's better to use metadata. Then it could even be made automatic. The total number of pages including everything should be really easy to compute based on the PEF in a post-processing ste

[2017-11-04 13:07] josteinaj commented on #78
Yes, I agree.

@KariRudjord if you don't have to worry about exporting the total number of pages to the library system, where would you prefer the page numbering to start? Is titlepage page 1, or is the first non-generated content page 1?

[2017-11-07 13:46] matskober commented on #54
[job1404.zip](https://github.com/nlbdev/pipeline/files/1450156/job1404.zip)
Job1404 had the "always Norwegian" option unchecked - the production failed

[job1403.zip](https://github.com/nlbdev/pipeline/files/1450164/job1403.zip)
Job1403 had the "always Norwegian" checked - the hebrew letters turn all to dots 26

[2017-11-08 15:10] bertfrees commented on #88
We ended up not using `-obfl-keep-with-next-sheets`. Instead we simply treat the first level2 the same as the parent level1, so that there is no preference for breaking before the level2. Because a break before the level1 is more preferable than a break inside the level1, the chance of a break happening inside the level1 before the first level2 is smaller than the chance of a break happening insid

[2017-11-08 16:21] bertfrees commented on #54
Not sure if we can do something about that. Does the Norwegian braille code have any rules for Hebrew letters?

[2017-11-08 17:09] bertfrees commented on #130
I have tried to convert the 550220 and it worked fine. Maybe my latest volume breaking related changes have something to do with it. @KariRudjord please test again when the latest version has been deployed.

[2017-11-08 18:19] matskober commented on #54
There is a section in the Norwegian liblouis file that says "Hebrew" ?

On 8 November 2017 at 16:21, Bert Frees <notifications@github.com> wrote:

[2017-11-09 12:14] josteinaj opened #140 "Check that overriding CSS works"
Attach a CSS stylesheet containing a rule that overrides something in our default CSS and see that the attached CSS overrides the default CSS.

See default stylesheet here: https://github.com/nlbdev/pipeline/blob/nlb/modules/nlb/book-to-pef/src/main/resources/css/nlb-default.scss

For instance:
[code]

[2017-11-09 12:22] josteinaj opened #141 "Print page number is only displayed on braille pages where print page break occurs"
Reported by @matskober.

@KariRudjord what is the desired behavior? Should print page number be displayed on all pages or only on the pages where the print page break occurs?

[2017-11-09 12:29] josteinaj commented on #78
@KariRudjord and I discussed this today, and we agreed that the desired behavior as described in https://github.com/nlbdev/pipeline/issues/78#issuecomment-341375679 is still what we want. Since the rebase of dotify has to happen at some point anyway, we would like it if you could try make it so that page 1 is on the titlepage @bertfrees. The page number should still not be rendered in the generate

[2017-11-09 12:33] josteinaj commented on #54
@matskober it is defined in the 8-dot table here: https://github.com/liblouis/liblouis/blob/275b28883c49aa691306430549a17be781fe360e/tables/no-no-8dot.utb#L334

It does not seem to be defined for 6-dot. If there is a norwegian standard for hebrew in 6-dot we could add it to the table.

[2017-11-09 12:36] josteinaj commented on #54
All undefined characters are represented as dot 26:

https://github.com/liblouis/liblouis/blob/ddd8053abd3f1153af0daf788f24b1a07385e80e/tables/no-no-chardefs6.uti#L191

[2017-11-09 12:39] josteinaj commented on #130
Deployed. @KariRudjord ready for test.

[2017-11-09 12:49] josteinaj commented on #41
I'm working on a new production system that we can use to trigger conversions of EPUB (or DTBook) to PEF here: https://github.com/nlbdev/produksjonssystem

[2017-11-09 12:57] josteinaj commented on #131
Let's use:

[code]

This is consisten with how our current newsletter-script represents the translator, and some googling also shows that others do this as well, for instance here: http://cool.conservation-us.org/admin_cool/dtdguides/livedtd/coolmeta/coolmeta.dtd.html

[2017-11-09 12:57] josteinaj commented on #50
Let's use `dc:contributor.translator` for translator. See: #131

[2017-11-09 12:58] #131 closed, assigned to josteinaj

[2017-11-09 13:03] josteinaj commented on #88
@KariRudjord and I discussed this today. We agreed that it should be as described by @bertfrees in the previous comment (https://github.com/nlbdev/pipeline/issues/88#issuecomment-342846757). In addition, we want to try having a `-obfl-keep-with-next-sheets: 1;` for the first child sections/levels to prevent orphaned headlines.

[2017-11-09 13:05] josteinaj opened #142 "Class to force volume break"
As a convenience instead of using style attributes or attaching CSS stylesheets, we should have a class that can be manually inserted if there are some locations that we need to force a volume break.

Maybe `braille-volume-break-before`.

[2017-11-09 13:12] matskober commented on #54
Hebrew braille is based on English braille, so it is just different when it
comes to the alphabet, as far as I have been able to grasp. (And of course
that print Hebrew is read from right to left, while braille Hebrew is read
from left to right.)

[2017-11-09 13:42] KariRudjord commented on #141
Print page should be displayed on all pages yes. It has worked with the books I have tested. What happens with this book I'm not sure of (561652). Maybe Bert can have a look?

https://files.slack.com/files-pri/T08ASUYH3-F7XMRBQJZ/download/print_page_issue.zip

[2017-11-09 14:00] bertfrees commented on #54
Really? That's peculiar. Lucky for us developers of braille translators/formatters, but strange for braille readers.

[2017-11-09 14:18] matskober commented on #54
It's the same with Arabic and other "right-to-left"-languages, as far as I
know; in Braille they are "mirrored" into the left-to-right regime. I
believe it is a historical production tool limitation behind this; I can't
see any reason why it should preferable to read braille from right to
left.

On 9 November 2017 at 14:03, Bert Frees <notifications@github.com> wrote:

[2017-11-09 14:19] matskober commented on #54
I can't see any reason why it should preferable to read braille from *left
to right*.

On 9 November 2017 at 14:18, Mats Køber <mats.kober@gmail.com> wrote:

[2017-11-09 14:26] bertfrees commented on #54
OK makes sense.

[2017-11-09 14:38] KariRudjord commented on #130
Works.

[2017-11-09 14:38] #130 closed, assigned to KariRudjord

[2017-11-09 15:06] KariRudjord commented on #86
Make a rule that says always divide outside a `<p>` if possible? Or divide between two sentences?

[2017-11-10 09:34] josteinaj commented on #141
For reference: input files available in job 1422 and 1428.

[2017-11-10 10:07] KariRudjord commented on #15
OK

[2017-11-10 10:26] KariRudjord opened #143 "No "actual content" in first volume"
For job #1439 (DTBook 561859) first volume only contain titlepage, Om boka, TOC and colophone - no text of the book (contain 11 pages).  Seems like a regular novel, so I can't figure out why.

[2017-11-10 11:12] josteinaj commented on #143
Job: 1439
Book ID: 561859

After preprocessing the book should end up with a level1 colophon and a level1 containing only an image that will not be rendered. Next is bodymatter, and the bodymatter is not rendered until the next volume.

[2017-11-10 11:14] josteinaj commented on #15
Since it's done i think this should be closed.

[2017-11-10 11:14] #15 closed, assigned to matskober, KariRudjord

[2017-11-10 12:53] KariRudjord commented on #120
OK

[2017-11-10 12:53] #120 closed, assigned to KariRudjord

[2017-11-10 14:27] KariRudjord commented on #121
OK

[2017-11-10 14:27] #121 closed, assigned to KariRudjord

[2017-11-14 15:10] josteinaj commented on #41
Fixed as of https://github.com/nlbdev/produksjonssystem/commit/f3a977245e5a24c894ff9019cfa30c82b5cae42a.

[2017-11-14 15:10] #41 closed, assigned to nobody

[2017-11-15 08:46] josteinaj commented on #102
The showin attribute works for me on the server, @KariRudjord do you have an example of it not working?

input:
[code]

result:
[code]

[2017-11-15 09:06] josteinaj commented on #102
This will be the result after removing "Bildebeskrivelse: ":

---

Input:
[code]

Before removing "Bildebeskrivelse: ":
[code]

After removing "Bildebeskrivelse: ":
[code]

---

Input:
[code]

Before removing "Bildebeskrivelse: ":
[code]

After removing "Bildebeskrivelse: ":
[code]

[2017-11-15 09:16] josteinaj commented on #31
@KariRudjord do you think we can already write a production routine description or should we wait? Also, who should do it?

[2017-11-15 09:25] josteinaj commented on #81
@KariRudjord just a note for future books: I see in one of your test books you have:
[code]
There should be a space before or after the `<br>` element, so that the words are separated even if we remove the `<br>` element. It works fine with braille though. For instance:
[code]

[2017-11-15 10:32] matskober commented on #52
Job #1504;

It seems that the margin-top gets right in the volume specific tocs, but not in the toc in the first volume

[2017-11-15 11:24] matskober commented on #52
This worked:
#generated-volume-toc li {

        margin-top: 0;

}

#generated-volume-toc li a::after {

        margin-top: 0;

}
#generated-document-toc li {
            margin-top: 0;

}
generated-document-toc li a::after {
            margin-top: 0;

}

[2017-11-15 11:28] josteinaj opened #144 "Always break page before a part"
Reported by @matskober.

Currently:
[code]

Should be:
[code]

[2017-11-15 12:13] matskober commented on #144
Could it not be "page-break-before: right;" on all level1s, as a default?

[2017-11-15 12:34] matskober commented on #86
Job#1507

Volume break inside a note (Volume 3-4)
[558447 (2).zip](https://github.com/nlbdev/pipeline/files/1474665/558447.2.zip)

 @josteinaj @bertfrees

[2017-11-15 13:51] bertfrees commented on #86
Avoiding volume breaking within paragraphs or sentences is not possible at the moment.

[2017-11-15 15:28] matskober commented on #86
OK?

Could I apply it on the section that contains notes in the end of the
volume? (Strange thou, that notes defined to appear in the end of a volume
shows up in the beginning of the next; a splitting point must already have
been found, since the notes have been placed there in the first place?)

[2017-11-15 15:35] bertfrees commented on #86
My comment was meant as an answer to Kari's comment from last week actually. Haven't looked at your case yet. If it's a an end-of-volume notes section, it would indeed be very strange that it is split over two volumes.

[2017-11-15 16:01] matskober commented on #86
🙂

[2017-11-15 17:26] josteinaj commented on #144
@matskober yes we already do that for level1 chapters and level2 chapters within level1 parts, but not for the level1 parts themselves.

[2017-11-17 09:02] KariRudjord commented on #140
Works for `<p>` but not for remove the word Margtekst in `<sidebar>`. @usama49 will look at it

[2017-11-17 09:07] KariRudjord commented on #129
I can't remember what I tested with, but I do as you suggest and make a separate issue for handling big tables (If its not already made a card, I check) @josteinaj

[2017-11-17 09:07] #129 closed, assigned to KariRudjord

[2017-11-17 09:14] KariRudjord opened #145 "Handling of big tables"
How shall we handle big tables? I guess they sometimes must be left out of the production, but in many cases they can be transformed to text.

Can we have an error message saying: Table to large or something like that - and then go through it manually to decide behaviour?

If nothing else is possible, we can manipulate the sourcefile manually as we do today.

[2017-11-17 10:27] KariRudjord commented on #45
It works, but two problems:
1. When text in a cell is more than 1 line, it need to extra indents. Otherwise it will be interpreted as a new cell.
2. when a cell is empty, the information that it is actually empty disappear, eg. here on Havgregryn:
[code]

I don't quite know how it should be marked (I've emailed someone with experience in this but waiting for answer).  I assume we can implement a r

[2017-11-17 10:28] KariRudjord commented on #45
here is the xml

[code]

[2017-11-17 11:01] bertfrees commented on #145
I think Jostein had something in mind with analyzing the table in a preprocessing step and setting a class based on some "size" criteria (see https://github.com/nlbdev/pipeline/issues/8#issuecomment-339330343). It is also possible to make a decision during formatting (within Dotify) but that will require a bit of work to integrate this Dotify feature (see https://github.com/nlbdev/pipeline/issues/

[2017-11-17 11:07] bertfrees commented on #45
OK. Note that this was just a random initial proposal I made, just to give you an idea of what is possible. You can modify it completely.

[2017-11-17 11:14] KariRudjord commented on #45
Good! We might have different rules for different tables, after what kind of content it has, but I hope we can come down with a set of rules to choose between. Probably we can benefit from this work also in our text to speech production - we have about the same challenges.

[2017-11-17 12:22] KariRudjord commented on #99
Now it works. Just a little detail to be fixed. The notes miss a headline when using fallback mechanisme.
It should be like job 1554 result:
[code]

Not like this
[code]

[2017-11-17 12:27] matskober opened #146 "No default braille character for other languages, causing ⡳ to be included in 6-dot"
DTBook in englig, with "Alltid norsk" unchecked, produces a pef with '8-dot: YES'
[error_8-dot.zip](https://github.com/nlbdev/pipeline/files/1482242/error_8-dot.zip)
@bertfrees @josteinaj

[2017-11-17 12:27] KariRudjord commented on #75
Working.

[2017-11-17 12:27] #75 closed, assigned to KariRudjord

[2017-11-17 12:28] KariRudjord commented on #9
OK

[2017-11-17 12:46] KariRudjord commented on #71
There is no toc, yes, but the headline Innhold is still on the page. Looking odd. Should not be an empty page there at all.

And for the chapters without headings:
Text in chapter without `<h1>` should start on row 6. Could that be fixed?

[2017-11-17 13:00] matskober commented on #71
Why this big font, Kari?

[2017-11-17 13:04] bertfrees commented on #71
I changed it. Kari sometimes puts angle brackets in her comments but these are interpreted specially in Markdown. Enclose XML tags in backticks (&#x60;) to avoid that.

[2017-11-17 13:25] matskober commented on #71
So it's not her new style of leadership, then? 🙂

[2017-11-17 13:31] bertfrees commented on #71
No luckily not :) I was intimidated a bit too at first.

[2017-11-17 14:30] KariRudjord commented on #71
Well, it don't seem like I know what I'm doing, but Bert is luckily there to save me out of it :-)

[2017-11-17 21:25] joeha480 commented on #118
We could make the number of iterations configurable and keep the default to around 10-20. Like Bert said, a very high number indicates some problem with the algorithm, but if you just want to get the book through, you could increase it manually (but report it for debugging later).

[2017-11-20 10:30] #65 closed, assigned to KariRudjord

[2017-11-20 11:38] KariRudjord commented on #33
Kortskrift 2 er allerede ute på test. Vi venter med mer testing til bokoppsettet er korrekt.

[2017-11-20 11:38] #33 closed, assigned to KariRudjord

[2017-11-20 12:40] KariRudjord commented on #89
Working

[2017-11-20 12:40] #89 closed, assigned to KariRudjord

[2017-11-20 12:41] KariRudjord commented on #40
Working

[2017-11-20 12:41] #40 closed, assigned to matskober, KariRudjord

[2017-11-20 13:04] KariRudjord commented on #110
Capitals - 6 before
Lower case - 56 before

[2017-11-20 14:08] matskober commented on #40
I still get "8-dot: Yes", when unchecking "alltid norsk" and the xml:lang="en". But that's a different issue, maybe?

[2017-11-22 14:38] josteinaj commented on #81
- [x] fix recursion error ("too many nested function calls")
- [x] text about full title in about page when it doesn't fit on title page ("Full tittel: "The Lord of the Rings: The Two Towers")
- [x] never shorten names
- [x] "Flere forfattere" if no authors fit?

Note:
- We could list all authors on the about page if at least one of them doesn't fit on the titlepage?
- If there are really long wor

[2017-11-22 17:29] josteinaj commented on #146
@matskober Your attachment doesn't look like 8-dot braille to me. But I only skimmed through it. Is it only specific parts of the output that becomes 8-dot? Is there a job on the test server that I can look at?

[2017-11-23 00:47] matskober commented on #146
I know, it does look okay. But e2u says it contains 8-dots.

On 22 November 2017 at 17:29, Jostein Austvik Jacobsen <
notifications@github.com> wrote:

[2017-11-23 11:11] josteinaj commented on #146
These are all the uniqe braille characters used in your attachment:

[code]

I see that this character is used in some places: `⡳`.

I can't make sense of the braille so I don't know what the input text was, but I see that several languages, including norwegian, use this braille character for "latin capital letter u with diaeresis".

I will try to reproduce it in a test.

[2017-11-23 11:42] josteinaj commented on #146
Ok, it seems to be due to characters that are not defined in any table, and so they default (as I understand it) to a braille representation of the unicode number for that character.

For instance:
[code]

In the norwegian 6-dot table [we have this](https://github.com/liblouis/liblouis/blob/ddd8053abd3f1153af0daf788f24b1a07385e80e/tables/no-no-chardefs6.uti#L191) which is probably why you see this

[2017-11-23 11:48] bertfrees commented on #146
It is possible to use dot 26 for undefined characters. To let it depend on whether an `undefined` rule already exists is harder (and also makes less sense IMO).

[2017-11-23 11:49] josteinaj commented on #146
Ok, always using dot 26 regardless of whether `undefined` would be fine.

[2017-11-23 11:55] bertfrees commented on #146
This can be done by wrapping `liblouisTranslatorProvider` in `NLBTranslator` into a provider that prepends or appends this small table to every table:

[code]

[2017-11-23 12:58] matskober commented on #146
Seems to be greek? So it should heve been marked up with xml:lang="el"; would that have made any difference?

[2017-11-23 12:58] josteinaj commented on #146
@matskober Maybe, but there's still an issue with undefined characters.

[2017-11-23 14:48] josteinaj opened #147 "PaginatorException: Row is too long (33/32)"
I was looking at #114 and so I tried converting our largest book. The DTBook is 8.7MB. It took a really long time to run, maybe 30-40 minutes, and then the job status returned was VALIDATION_FAIL. In the log I found the following exception:

[code]

I don't think there's a copyright on this book (it's the official collection of norwegian laws). However, I've obfuscated it before uploading it here:

[2017-11-23 15:04] bertfrees commented on #147
Does it still fail when obfuscated? I don't want to wait 40 minutes to run the whole book again in order to find out.

Could you check if the book still fails if you make it much smaller but keep the part with the offending text? It back-translates to "Alderen  0-  6  11  15".

[2017-11-23 15:43] josteinaj commented on #147
Didn't try obfuscated. I found the place you referenced. It's a table, and I can reduce it to this and still get the error:

[code]

The full table looks like this:

[code]

[2017-11-23 15:48] bertfrees commented on #147
Thanks!

It looks like a Dotify bug with tables. The "Alderen 0- 6 11 15" looks like the first row of the table header in which every cell is wrapped over several rows.

You'll probably don't want to layout such tables in matrix form. In this sense it is related to https://github.com/nlbdev/pipeline/issues/145. But still, Dotify should be able to handle this example.

[2017-11-24 08:30] matskober opened #148 "EPUB: <hr class="emptyline"/>, makes emptyline , 3 x dots 36, emptyline"
![image](https://user-images.githubusercontent.com/8014898/33201775-d4679a3c-d0f1-11e7-828e-a7a17630eed4.png)

It should be only one empty line

Job #1633

[2017-11-24 09:18] josteinaj commented on #148
We don't have a `emptyline` class defined.

We have a `precedingseparator` class, which is meant for DTBook where `<hr>` is invalid.

We do have `precedingemptyline` in our books, but we haven't defined what that should do in braille yet; it probably should just add a cell to the top margin.

`<hr/>` is a thematic break. We currently render it as in your example; as `⠔⠔⠔` with an empty row above a

[2017-11-24 09:24] matskober commented on #148
So it should not be any 'hr class="emptyline"' in Nordic EPUBs?
In my opinion it should be just an empty line.
![image](https://user-images.githubusercontent.com/8014898/33204201-b126f58c-d0fa-11e7-9d83-ac7313a9919f.png)
(561900)

[2017-11-24 09:35] josteinaj commented on #148
I found this in our procurement spec, so you're right 😊:

So it seems `emptyline` is indeed a class we might get in EPUB.

I see also from the nordic migrator that the EPUB3 classes `emptyline` and `separator` in this context is converted to a `precedingemptyline` and `precedingseparator` on the fist following element.

I would imagine that `<hr class="emptyline"/>` would render as three empty lin

[2017-11-24 10:02] bertfrees commented on #148
@josteinaj &lt;br/&gt; is already defined like that.

[2017-11-24 10:11] josteinaj commented on #148
@bertfrees ah, in the inherited default.css, I see. Cool.

[2017-11-24 10:42] matskober commented on #148
@bertfrees says :  br/ is already defined like that.

Like what? One empty line -  or like it turned out above?

[2017-11-24 10:46] bertfrees commented on #148
Like a single newline (not two).

[2017-11-24 10:49] bertfrees commented on #148
https://github.com/daisy/pipeline-mod-braille/blob/c6f8e173ecf270d041d02ef6cc0300a45c9f58e0/pipeline-braille-scripts/dtbook-to-pef/src/main/resources/css/default.css#L62-L65

[2017-11-24 11:25] matskober opened #149 "No table could be found for query 'contraction:no locale:el '"
Job #1648

English book, with some greek text marked up with xml:lang="el".
This is the same title that produced 8-dots (when the greek parts was without markup)

[2017-11-24 11:54] matskober opened #150 "hyphenation"
The word 'that' are hyphenated t-hat, at least two times on two pages ...
Is there a 'don't do (t-hat)' list?

![image](https://user-images.githubusercontent.com/8014898/33210144-ea96bdbe-d110-11e7-9e37-6dae98841d44.png)

[2017-11-24 13:54] josteinaj commented on #150
Not sure why, but only norwegian text should get hyphenated so in this case the language code is probably wrong? If "that" were a norwegian word, I don't know how I'd hyphente it. t-hat would be as good as anything.

**[Words containing "th"](http://ord-med.finn-et-ord.net/ord-med-th.html):**

- Aarset-h
- abort-hyppighet
- abort-hyppigheta
- abort-hyppighetene
- absolutt-hetskrav
- actiont-hrille

[2017-11-24 15:06] josteinaj commented on #144
If I change the CSS as described above, then volume breaking is no longer forced. For instance, this test fails:

[with parts: parts will be top level splitting points](https://github.com/nlbdev/pipeline/blob/7a04db3e7496a81b0827a8b0d667bef41ac24a50/modules/nlb/book-to-pef/src/test/xprocspec/test_dtbook-to-pef_volume-breaking.xprocspec#L162)

@bertfrees maybe you could have a look at why this happ

[2017-11-24 16:49] josteinaj commented on #78
I've added a page numbering test here: 9c5b5a24299a40b92e26d52f0fca955e16ac1a48

Other tests will probably have to be updated as well, but initially this test can be used to make sure numbering is correct.

[2017-11-27 15:24] matskober commented on #81
### More then one docauthor ...
...  seems to work now, but ...
 - If more than two authors, "mlf" comes correctly, but it should be written "m.fl." (Not?) (This also apply when multiple translators)
![image](https://user-images.githubusercontent.com/8014898/33271482-49fc6388-d37f-11e7-8141-90330eb3dfc0.png)

But if the second user docauthor don't fit it turns out like this:
![image](https://user-

[2017-11-27 15:37] matskober commented on #81
A side note: Why don't we use dc:Creator from meta but docauthor from frontmatter? (We do use dc:Contributor.Translater) Also: If there is a illustrator present, today's regime will show the illustrator as docauthor and dc:Creator - e.g. we could end up with the illustrators name followed by "m.fl." instead of the actual author. Is dc:Contributor.Illustrator possible? And/Or dc:Creator.Illustrator

[2017-11-27 17:08] KariRudjord commented on #52
Working.

[2017-11-27 17:08] #52 closed, assigned to KariRudjord

[2017-11-27 17:15] KariRudjord commented on #135
Kan jeg parkere dette kortet, @josteinaj  eller har du planer for det?

[2017-11-27 18:04] KariRudjord commented on #32
We had a discussion on colophon issues some time ago. Can we make something like this?

- class=colophon - move to end of book. But original title to Om boka if possible.
- class=titlepage - hide, but publisher and year to Om boka if possible. (If not possible, this will be present in the colophon in end of book).
- class=toc (that is print toc) - hide
- class=dedication and class preface stays in

[2017-11-28 08:52] KariRudjord commented on #140
Tested with lists and p. Works.

[2017-11-28 08:52] #140 closed, assigned to KariRudjord

[2017-11-28 09:17] josteinaj commented on #32
- colophon/titlepage/toc/dedication: ok, we can do that
- quotes: there's no such class that I'm aware of but everything in frontmatter except colophon, titlepage and toc will remain there as-is anyway, so we probably don't have to treat in any special way?

[2017-11-28 09:21] KariRudjord commented on #32
Yes, I see it is marked up as a blockquote in one book. Maybe that is the standard.

[2017-11-28 09:25] josteinaj commented on #81
A quick search seems to indicate that both "m.fl." and "mfl." are ok shorthands. You could also consider "med flere" (there's enough space).
- http://ordbok.uib.no/perl/ordbok.cgi?OPP=mfl&ant_bokmaal=5&ant_nynorsk=5&begge=+&ordbok=begge
- http://www.korrekturavdelingen.no/Forkortelser/Forkortelser_m.htm

We use author and translator from the content because then we can insert `<br class="display-b

[2017-11-28 09:30] KariRudjord commented on #81
I checked it up earlier and Språkrådet says mfl. so I used that and want that :-)

Yes - about translators.

[2017-11-28 10:04] matskober commented on #81
Jostein: So we only need to add translators?
I believe that authors also need to be added; I could not see them under
"Om boka"

On 28 November 2017 at 09:25, Jostein Austvik Jacobsen <
notifications@github.com> wrote:

[2017-11-28 10:21] josteinaj commented on #81
Ok, I'll have another look and check if authors are there.

[2017-11-28 10:28] josteinaj commented on #135
Har ingen planer for det, så om det fungerer fint må du gjerne parkere det :)

[2017-11-28 10:32] #135 closed, assigned to josteinaj

[2017-11-28 11:19] matskober opened #151 "Toc heading "Innhold" on an otherwise empty page"
job 1726

If no hx in the book, PIP generates an empty toc.
[results.zip](https://github.com/nlbdev/pipeline/files/1509627/results.zip)

[2017-11-28 13:24] KariRudjord commented on #102
OK

[2017-11-28 13:24] #102 closed, assigned to KariRudjord

[2017-11-28 13:57] josteinaj commented on #81
Added authors and translators in 5578a1a4c609cb2d6b9e4383714ec4024ea54e12. Will update test server soon.

[2017-11-28 13:58] josteinaj commented on #32
Now moving colophon to the end of backmatter, and removing existing titlepage and toc. Test server will be updated soon.

[2017-11-28 14:03] josteinaj commented on #151
Do we want to add a text in the about page saying that there are no headlines in this book? Or do we want to generate headlines maybe?

[2017-11-28 15:52] matskober commented on #151
To add a text in 'Om boka' sounds good, but also skip the word/heading
'Innhold'?

On 28 November 2017 at 14:03, Jostein Austvik Jacobsen <
notifications@github.com> wrote:

[2017-11-29 10:28] #148 closed, assigned to josteinaj

[2017-11-29 10:33] matskober commented on #29
Orphan/widow control seems to work as intended!
![image](https://user-images.githubusercontent.com/8014898/33370842-ac2ffee4-d4f0-11e7-9602-fe2801bce518.png)

[2017-11-29 11:04] matskober commented on #29
The 'hard page breaks' referred to in  #29 - is that connected to the orphan/widow issue, or is it 'page-breake-before'-matter?

[2017-11-29 11:43] matskober commented on #35
This works as it should!

![image](https://user-images.githubusercontent.com/8014898/33373583-81736df8-d4fa-11e7-8ade-2b26e4f160fc.png)

[2017-11-29 11:43] #35 closed, assigned to KariRudjord

[2017-11-29 12:00] matskober commented on #150
Is there any good way to hyphenate a four letter word? I would have thought there was a rule saying never to to hyphenate anything with less than five letters; could that be applied?

Also: Is it possible to define a algoritme that makes sure hyphenation only takes place if there is an actual benefit by doing so, e.g. that the hyphenation 'gains space', so that the paragraf in witch it occurs, use

[2017-11-29 12:42] matskober commented on #110
Don't we need to mark up roman numerals inline, like 'Haakon IV' or 'Haakon VI'? Otherwise, how to differ between roman numerals and clusters of capital letters?

[2017-11-29 12:47] KariRudjord commented on #110
I don't know if its possible to solve the roman number issue. How should you know if Magnus V Magnussen is Magnus 5th or Magnus Verner Magnussen?

[2017-11-29 12:54] matskober commented on #110
If only one numeral or letter I guess it doesn't matter; then V is ⠠⠧
anyway, right ? But when more than one; VI = ⠠⠠⠧⠊ (alphabetical) or ⠠⠧⠊
(numeral).

[2017-11-29 13:00] KariRudjord commented on #110
Could we do something for all the numbers containing of mor than one letter? What about 100, 500, 1000?
I 1
II 2
III 3
IV 4
V 5
VI 6
VII 7
VIII 8
IX 9
X 10
XI 11
XII 12
XIII 13
XIV 14
XV 15
XVI 16
XVII 17
XVIII 18
XIX 19
XX 20
XXV 25
XXIX 29
XXX 30
XXXV 35
XXXIX 39
XL 40
XLV 45
XLIX 49
L 50
XC 90
C 100
D 500
M 1000
MCC 1200
MDXXXVI 1536
MDCLXVI 1666
MDCCLXXXVIII 1788
MCM 1900
MCMXC 1990
MCMXCVIII

[2017-11-29 13:01] josteinaj commented on #110
I think multiple capital letters are already surrounded by "⠠⠠" on each side?

Also, I think things would be much easier if we didn't have to detect whether something is a roman numeral or not.

[2017-11-29 13:06] josteinaj commented on #29
Not sure. `page-break-before` should already work, so I suppose the issue to test is "orphan/widow control", but I don't know what kind of "control" this refers to. @KariRudjord do you remember?

[2017-11-29 13:12] KariRudjord commented on #29
It seems from Mats' example above that orphan/widow is working like intended, so i close the issue.

[2017-11-29 13:12] #29 closed, assigned to KariRudjord

[2017-11-29 13:19] matskober commented on #110
The sensible thing would be to get OUP to adjust the rule? Why should 'Haakon VI' (⠠⠓⠁⠁⠅⠕⠝ ⠠⠠⠧⠊) be worse than 'Haakon Vi' (⠠⠓⠁⠁⠅⠕⠝ ⠠⠧⠊)? Today's rule only make sense (inline) if the roman numerals are in lower case, when ⠰ (56) should be applied. But then again: The roman numerals need mark up or detection of some kind. (Not even sure if lower case roman numerals ever appear inline?)

[2017-11-29 14:02] KariRudjord commented on #110
Arne is going to OUP meeting tomorrow. I have asked him to ask for the draft of new guidelines if possible. Maybe they have done something with this, we'll see.

[2017-11-29 14:02] #72 closed, assigned to nobody

[2017-11-29 14:09] matskober commented on #107
(OUP 9.4 Indekser):
sub = dots 16 before
 - if more than one character inside sub-tags, all characters should also be surrounded by 235 and 356

sup = dots 56 before
 - if more than one character inside sup-tags, all characters should also be surrounded by 235 and 356

For some reason 'CO<sub>2</sub>' is said to be: ⠠⠉⠠⠕⠨⠼⠃

If we are to do this, we  need to have a different approach towards chemi

[2017-11-29 14:12] KariRudjord commented on #151
I think a text in Om boka is not neccesary. Om boka will not be read if there is  too much information there, and books without headlines is quite normal.

I only want that when no TOC is present, the TOC page with headline is removed.

[2017-11-29 14:25] KariRudjord commented on #32
Colophon is still in front of the book, but maybe you have not updated the server yet?

[2017-11-29 14:28] matskober commented on #106
This works

[2017-11-29 14:28] #106 closed, assigned to KariRudjord

[2017-11-29 14:29] #76 closed, assigned to KariRudjord

[2017-11-29 18:39] bertfrees commented on #78
I've updated the CSS like this: https://github.com/nlbdev/pipeline/commit/86ad966bbed726ae85b1afb4a88ada9d57bdc7ae

[2017-11-30 08:34] josteinaj commented on #32
I had to fix some minor issues before installing, but it should be installed now so you can try again.

[2017-11-30 08:52] josteinaj commented on #107
Maybe we need to convert some unicode superscript/subscript characters to "normal" characters during preprocessing to make things easier. For instance `¹²³ → <sup>123</sup>` and `₁₂₃ → <sub>123</sub>`. See: https://unicode-table.com/en/blocks/superscripts-and-subscripts/

@bertfrees it's best to add the wrapping dots in `block-translate.xsl`, right? Or does liblouis have any facility for this?

[2017-11-30 08:53] josteinaj commented on #151
Ok.

@bertfrees could you have a look at this when you have time?

[2017-11-30 08:54] KariRudjord commented on #32
Yes, now it's placed in back of book, great! Could you add empty side before colophone so it is divided from the rest of the text and start on right hand page?

Some book have a list in frontmatter that shows all the books from the author. In talking books they leave out this list, and if possible I want the same habit in braille books. Is that possible in any way. Onlyd marked as a regular level1

[2017-11-30 09:02] josteinaj commented on #32
Looking at your job (1761) it seems that the colophon starts on the right hand page. It's a level1 and shouldn't need to be treated any differently than other level1s I think? If you want an empty page on the previous page and also have it start on the right hand page, then you'll get two blank pages before the colophon, but maybe that's fine?

Removing book lists: yes we need to have it marked up

[2017-11-30 09:06] KariRudjord commented on #32
Maybe its easier to divide it from the main text with a headline? &lt;h1&gt;Bokinformasjon inserted before colophone text. Bokinformasjon is the word used in talking books, so I think we can use that.

[2017-11-30 09:07] KariRudjord commented on #32
Sorry - now I'm shouting again :-) I'm not angry :-)

[2017-11-30 09:21] bertfrees commented on #151
Ok I'll have a look. I'm not sure I can fix this with CSS, but I can always pass a variable "no-headings" from XProc to SCSS.

[2017-11-30 09:33] bertfrees commented on #107
Liblouis could put a "⠨" before a series of subscript characters. You'd need to define what those characters are, and the input should be in the form "CO₂".

You could also pass in "CO2" and combine this with typeform information ("--x") to specify that the 2 is subscript. The benefit is that this is more widely applicable, but it means you have to have the information of course.

Adding the dots

[2017-11-30 10:05] josteinaj commented on #107
The typeform approach seems best then. Let's assume that all content in superscript and subscript are within `<sup>` and `<sub>` tags. It's possible to do in CSS, but that's not semantic, so I think we can safely ignore that. As for unicode sub/sup, that would also be nice if could be done in liblouis, but we can also replace with sup/sub tags in pre-processing.xsl if that's easier.

@bertfrees Ok

[2017-11-30 10:09] josteinaj commented on #32
If we insert a headline `<h1>Bokinformasjon</h1>` then that's probably something we want to do directly in our books and not as part of this script?

[2017-11-30 11:03] bertfrees commented on #107
We could support both approaches at the same time I think.

[2017-11-30 11:14] josteinaj commented on #107
Ok, great.

[2017-11-30 14:22] bertfrees opened #152 "Don't hyphenate other languages with norwegian rules"
This is currently the case if force-norwegian is set to true.

[2017-11-30 16:34] bertfrees commented on #146
Done

[2017-11-30 17:36] josteinaj opened #153 "Improve preview"
- render æøåÆØÅ properly
- render numbers as numbers
- not all braille characters needs to be translated to ascii. For instance modifiers like the number sign, captial letter sign

[2017-11-30 17:37] josteinaj commented on #153
I did a little experiment earlier this week. Not sure if it's the right way to approach this issue or not, but I've pushed it here for reference: 9e43bca0bbc6bbe2cbee2172cf50c4c77485e7d8

[2017-11-30 23:29] matskober commented on #153
You mean to keep "generated" braille as braille in preview?

[2017-11-30 23:36] bertfrees commented on #153
This is one approach, yes. I see you copied the code from [NabccEightDotTableProvider.java](https://github.com/daisy/pipeline-mod-braille/blob/develop/pipeline-braille-utils/liblouis-utils/liblouis-formatter/src/main/java/org/daisy/pipeline/braille/pef/impl/NabccEightDotTableProvider.java) and then changed the mapping to (x) <-> (2800 + x). I presume you have yet to change that mapping?

If I were

[2017-12-01 08:27] KariRudjord commented on #32
Like headlines Om boka, Innhold and Fotnoter?

[2017-12-01 09:11] KariRudjord opened #154 "Improve english hyphenation"
Job 1766 gets hyphenation like this
t-hemes
fis-herman
t-hat

[2017-12-01 11:22] bertfrees commented on #154
Is this with Norwegian (force-norwegian) or English braille rules?

[2017-12-01 11:32] KariRudjord commented on #122
After Jostein did a minor adjustment in TOC headline (longer boarders) I noticed that some productions (not all) get only generated content in volume one (just a few pages) and first chapter starts in volume 2. Maybe this have a connection? eg job 1690

[2017-12-01 11:35] KariRudjord commented on #154
The whole book is marked xml lang en so I think english braille rules

[2017-12-01 11:36] bertfrees commented on #154
The "force-norwegian" option is important here.

[2017-12-01 11:40] KariRudjord commented on #154
I thought that if the whole book is marked en it would be turned off? Maybe I'm wrong? OK, its written in the GUI, it always use norwegin, yes.

[2017-12-01 11:47] bertfrees commented on #154
That's not the case at the moment. So this issue is probably a duplicate of https://github.com/nlbdev/pipeline/issues/152.

[2017-12-01 12:33] matskober commented on #154
I ran an English book here the other day, unchecking "alltid Norsk", but
the t-hat was present there as well ...

On 1 December 2017 at 11:47, Bert Frees <notifications@github.com> wrote:

[2017-12-01 12:48] bertfrees commented on #147
See https://github.com/brailleapps/dotify.formatter.impl/pull/35. It looks like it has nothing to do with big tables, but with the left padding. Maybe you can try a left margin instead because there is no border anyway?

[2017-12-01 12:51] bertfrees commented on #147
Hold on, actually I don't see any left padding in the CSS. Let me check where it came from...

[2017-12-01 13:05] bertfrees commented on #147
OK the `padding-left: 2` is coming from the `margin-left: 2` on the `sidebar`. So you can't work around it with CSS.

[2017-12-01 15:10] matskober commented on #122
It seems to be a pattern, although I'm nut sure; Books without anything besides docauthor and doctitle in DTBooks frontmatter works fine, if any object in frontmatter, bodymatters content starts in volume 2.

[2017-12-03 17:10] josteinaj commented on #153
Yes.

Interesting, that's probably the way to go for us as well then? At least for letters like ÆØÅ? Could liblouis back-translation rules be used for rendering numbers in such a table?

Yes. It would be fairly simple to implement in Java, XSLT or whatever by iterating over the characters, looking for ⠼, and replacing abcdefghij with 1234567890.

I'm pretty confident I could do this as a post-proc

[2017-12-04 09:39] josteinaj commented on #122
Ah, that makes sense. We have a rule matching "the first level1" that says that we would rather break the level1 in two volumes than not have any content in the first volume. However, there's a "first level1" in both frontmatter and bodymatter (and rearmatter).